<% layout('layout') -%>
<script src="/flyer.js"></script>
<script>
    $(function(){

        $('.portletStack').each(function(index){
            var flyerid = $(this).attr('flyerid');

            $('.portletStack[flyerid='+flyerid+']').Flyer({
                editMode:false,
                flyerid:flyerid
            });
        })
    });
</script>

<script language="JavaScript">
    $( function(){

        FollowingState();

        function FollowingState() {
            var boardID= $("#FollowButton").val();

            $.ajax({
                url: '/board/follow',
                type: 'get',
                dataType: 'json',
                data: {boardid:boardID},
                error: function(data){
                    console.log('error '+data.result);
                },
                success: function(data){
                    if( data.following==true )
                        $("#FollowButton").text('Unfollow');
                    else
                        $("#FollowButton").text('Follow Board');
                }
            });
        }

        $('#FollowButton').click( function(){
            var boardID = $("#FollowButton").val();

            $.ajax({
                url: '/board/follow',
                type: 'post',
                dataType: 'json',
                data: {boardid:boardID},
                error: function(data){
                    alert('error '+data.result);
                },
                success: function(data){
                    // ToDo: User A Better Method For Storing Following State
                    FollowingState();
                }
            });
        });

        $('.putdownButton').click(function(e){

            e.preventDefault();

            // ToDo: Find a better and more standard way for storing flyerID and boardID in the page
            var boardID = $(this).attr('boardid');
            var flyerID = $(this).attr('flyerid');
            var thumbnailElm = $(this).parent();

            $.ajax({
                url: '/flyer/putdown',
                type: 'post',
                dataType: 'json',
                data: {
                    boardid:boardID,
                    flyerid:flyerID
                },
                error: function(data){
                    console.log('error '+data.result);
                },
                success: function(data){
                    thumbnailElm.hide();
                }
            });
        });
    });
</script>

<div class="container">
    <div class="row" style="padding: 5px">
        <div class="span6">
            <h2><%=board.name%><span class="badge" style="margin-left: 10px;"><%= flyers.length %></span></h2>
        </div>
        <div class="span3 pull-right">
            <% if(isOthersBoard==true){ %>
            <button class="btn btn-small btn-danger" type="button" id="FollowButton" value="<%=board._id%>">Follow Board</button>
            <% } else { %>
            <button class="btn btn-small btn-danger disabled" type="button">Your Board</button>
            <% } %>
        </div>
    </div>
    <div class="row" style="padding: 5px">
        <ul class="thumbnails">
            <% for(i=0;i<flyers.length;i++){%>
            <li class="span3">
                <a class="thumbnail" href="/flyer/<%=flyers[i]._id%>" flyerid="<%=flyers[i]._id%>">
                    <span>
                            <%=(flyers[i].flyer&&flyers[i].flyer.description)
                                    ? flyers[i].flyer.description
                                    : "untitled"%>
                    </span>
                    <% if(flyers[i].putdownIsAllowed){ %>
                    <span class="btn btn-danger btn-mini pull-right putdownButton" boardid="<%=board._id%>" flyerid="<%=flyers[i]._id%>">
                        PutDown
                    </span>
                    <% } %>
                    <div class="portletStack" id="portletStack<%=i%>" flyerid="<%=flyers[i]._id%>"></div>
                </a>
            </li>
            <%}%>
        </ul>

    </div>
</div>