<% layout('layout') -%>

<!--<script src="/script/jquery.Jcrop.js"></script>-->
<!--<script src="/script/load-image.min.js"></script>-->
<script src="/script/canvas-to-blob.min.js"></script>
<script src="/jquery-ui/js/file_upload.js"></script>
<script src="/script/rasterizeHTML.allinone.js"></script>

<script src="/html2canvas.js"></script>
<link href="/css/toolbar.css" rel="stylesheet">
<link href="/css/widget-profile.css" rel="stylesheet">
<link href="/css/flyer.css" rel="stylesheet">
<link href="/css/imgly.css" rel="stylesheet">

<!--<link href="/css/font-awesome.css" rel="stylesheet" />-->
<link href="/css/font-awesome.css" rel="stylesheet">

<script src="/chosen/chosen.jquery.js"></script>
<link href="/chosen/chosen.css" rel="stylesheet">

<script src="/script/map.google.js"></script>

<!--<link rel="stylesheet" href="../../bootstrap-modal/css/bootstrap-modal.css">-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>-->
<!--<script src="../../bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modalmanager.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modal.js"></script>-->

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
<link href="/css/job.css" rel="stylesheet">
<link href="/css/jquery.Jcrop.css" rel="stylesheet">
<link href="/css/toggle-switch.css" rel="stylesheet">
<script src="/script/Widgets/ColorPicker.js"></script>
<script src="/script/Widgets/Widget.js"></script>
<script src="/script/Widgets/TextWidget.js"></script>
<script src="/script/Widgets/PictureWidget.js"></script>
<script src="/script/Widgets/VideoWidget.js"></script>
<script src="/script/Widgets/VoiceWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/MapWidget.js"></script>
<script src="/script/Widgets/ButtonWidget.js"></script>
<script src="/script/Widgets/AnythingElseWidget.js"></script>
<script src="/script/Widgets/PersonalInfoWidget.js"></script>
<script src="/script/Widgets/ProfilesWidget.js"></script>
<script src="/script/Widgets/ResumeWidget.js"></script>
<script src="/script/Widgets/SeparatorWidget.js"></script>
<script src="/script/Widgets/SkillWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/BadgeWidget.js"></script>

<script src="/script/Widgets/flyer.js"></script>
<script src="/script/jquery.hotkeys.js"></script>

<script src="/script/bootstrap-wysiwyg.js"></script>

<script src="/script/VideoTools.js"></script>

<script src="/script/profileFinder.js"></script>
<script src="/script/color-thief.js"></script>
<script src="/script/md5.js"></script>
<script src="/script/jribbble.js"></script>

<script src="/script/plusone.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "/script/facebook.all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="/script/twitter.widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<script>
var flyer;
var flyerid;
var newFlyerName;
var previewWindow = 0;
var dialog_confirm=$('<div id="dialog-confirm"  title="Remove"> <p id="contentholder"> Are you sure?</p></div>').hide();
dialog_confirm.appendTo('body');
var autosaveTimer;
var autosaveInterval = 60*1000;
var editMode = <%=editMode%>;
var templateID = <%=templateID%>;
var viewMode = '<%=viewMode%>';
var existFlyer = <%= existFlyer %>
var teamMembers = [];

$(function() {
    $('form').submit(false);
    if( viewMode=='embeded') {
        // Hidden bars
        $('nav').remove();
        $('#fixToolbar').remove();
        $('body > .container-fluid').css('margin-top','1em');
    }


    if( editMode ) {

        if( existFlyer )
            loadEditor();
        else
            loadTemplateChooser();
    }
    else {
        $('.flyerRow').show();
        loadFlyer();

        // Resume uploading handling
        $('#dropzone').click(function(){
            $('#resumefile').click();
        })
        document.getElementById('resumefile').onchange = function () {
            $('#dropzone').html('Your Résumé :<br/>' + this.value.replace(/^.*[\\\/]/, ''));
        };

        function getDoc(frame) {
            var doc = null;

            // IE8 cascading access check
            try {
                if (frame.contentWindow) {
                    doc = frame.contentWindow.document;
                }
            } catch(err) {
            }

            if (doc) { // successful getting content
                return doc;
            }

            try { // simply checking may throw in ie8 under ssl or mismatched protocol
                doc = frame.contentDocument ? frame.contentDocument : frame.document;
            } catch(err) {
                // last attempt
                doc = frame.document;
            }
            return doc;
        }
        $("#submit_btn").click(function(e) {

            /*
             // Name
             if( $('#name').val().length == 0 ){
             $('.error').show().html('Please enter your name');
             e.preventDefault();
             return false;
             }

             // Email
             if(validateEmail( $('#email').val() )==false){
             $('.error').show().html('Please enter a valid email address');
             e.preventDefault();
             return false;
             }
             */

            $('.error').hide();

            var form = document.getElementById('applyForm');
            var formObj = $('#applyForm');
            var formURL = formObj.attr("action");

            if(window.FormData !== undefined)  // for HTML5 browsers
            {
                var formData = new FormData( form );
                $.ajax({
                    url: formURL,
                    type: 'POST',
                    data:  formData,
                    mimeType:"multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData:false,
                    success: function(data, textStatus, jqXHR) {
                        $('.portlet-container').hide();
                        $('.portletSubmittion').hide();
                        $('.portletThanksMessage').show();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {

                    }
                });
                e.preventDefault();
                $('.applyNowButton').val('Sending...').attr('disabled','disabled');
            }
            else  //for olden browsers
            {
                //generate a random id
                var  iframeId = 'unique' + (new Date().getTime());

                //create an empty iframe
                var iframe = $('<iframe src="javascript:false;" name="'+iframeId+'" />');

                //hide it
                iframe.hide();

                //set form target to iframe
                formObj.attr('target',iframeId);

                //Add iframe to body
                iframe.appendTo('body');
                iframe.load(function(e)
                {
                    var doc = getDoc(iframe[0]);
                    var docRoot = doc.body ? doc.body : doc.documentElement;
                    var data = docRoot.innerHTML;
                    //data is returned from server.
                });
            }
        });
    }
});

function loadFlyer() {

    flyerid = $('input[name=flyerid]').val();
    flyer = $('.portletStack').Flyer({
        editMode: editMode,
        flyerid: flyerid,
        templateID: templateID
    });
}

function loadTemplateChooser() {

    $('.templateRow').show();
    $('#GoToEditor').click( function() {

        newFlyerName = $('#flyerName1').val();

        if( newFlyerName.length === 0 )
            newFlyerName = 'Untitled - ' + (new Date()).toDateString();

        loadEditor();
    })

}

function loadEditor() {

    $('.templateRow').hide();
    $('.flyerRow').show();
    $('#fixToolbar').show();
    $('#buttonEditview').hide();

    loadFlyer();

    $('#buttonPublish').click( function() {
        loadPublishPanel();
    })

    $('#plusButton').click(function(){
        $('#plusButton').hide();
        $('#addButtons').show();
    });

    $('.closeButton').click(function(){
        $('#plusButton').show();
        $('#addButtons').hide();
    });

    // Saving flyer methods
    autosaveTimer = setTimeout(saveFlyer,autosaveInterval);
    $('#buttonSave').click(function(){
        saveFlyer();
    });

    // Logo uploading handling
    var logoInput = $('input.logofile');
    $(document).delegate('.portletHeader .logo','mousedown',function(){
        if(editMode)
            logoInput.click();
    });

    logoInput.fileupload({
        url:'/flyer/upload',
        dataType: 'json',
        replaceFileInput:false,
        dropZone:$('.portletHeader .logo'),
        done: function (e, data) {
            flyer.setLogo( '/uploads/' + data.result.files[0].name , true );
        }
    });
}

function GoToEditMode() {

    showLoading();

    $('#buttonPreview').show();
    $('#buttonSave').show();
    $('#buttonPublish').show();
    $('#buttonEditview').hide();

    setTimeout(function(){
        hideLoading()
        $('#previewFrame iframe').remove();
        $('#previewFrame').hide();
        $('.flyerRow').show();
    }, 1000);

};

function GoToViewMode() {

    var height = $('#portletsBox').height();

    showLoading();

    $('#buttonPreview').hide();
    $('#buttonSave').hide();
    $('#buttonPublish').hide();
    $('#buttonEditview').show();

    // ToDo: Do a better work when saving is faild (before shwoing preview)
    saveFlyer( function(saveSuccessfuly) {
        var flyerid = $('input[name=flyerid]').val();
        var iframe = $('<iframe>')
                .attr('src','/flyer/embeded/' + flyerid)
                .attr('frameborder','0')
                .attr('width','100%')
                .attr('scrolling','no')
                .attr('height', height )
                .attr('hidden','hidden')
                .load( function() {

                    hideLoading();
                    $('.flyerRow').hide();
                    iframe.show();

                });

        $('#previewFrame').show();
        $('#previewFrame').append( iframe );

        /*
         if( previewWindow.window==null || previewWindow==0 )
         previewWindow = window.open('/flyer/view/0?flyerid=' + flyerid);
         else
         previewWindow.location = '/flyer/view/0?flyerid=' + flyerid;
         */
    })
};

function showLoading() {
    var content = $('<div>').addClass('loadingContent')
            .text('Please Wait ...');
    var loading = $('<div>').addClass('loading')
            .append( content )
            .height( $(document).height() );

    $('.loading').remove();

    $(document.body).append(loading);
}

function hideLoading() {
    $('.loading').remove();
}

function loadPublishPanel() {
    $('.flyerRow').hide();
    $('.publishRow').show();
    $('#fixToolbar').hide();

    var flyerJson = flyer.flyer2json();

    if( existFlyer )
        $('#flyerName2').val( flyer.description );
    else
        $('#flyerName2').val( newFlyerName );

    $('#thanksMessage').val( flyerJson.thanksMessage );

    $.get('/api/team/members').done( function(res) {
        teamMembers = res;

        res.members.forEach( function(item) {
            if( item.status === 'joint' ) {
                var option = $('<option>').attr('id',item._id).text(item.displayName);

                $('#askForComment').append( option.clone() );
                $('#autoAssignTo').append( option.clone() );
            }
        });
        console.log(res);
    });

    $('#buttonPublishSaveAsDraft').click( function() {
        saveAsDraftOrPublish(true);
    });


    $('#buttonPublishDone').click( function() {
        saveAsDraftOrPublish(false);
    });

    function saveAsDraftOrPublish(saveAsDraft) {
        flyerJson.description = $('#flyerName2').val() ;
        flyerJson.thanksMessage = $('#thanksMessage').val();

        var askForComment = $('#askForComment :selected').attr('id');
        var autoAssignTo = $('#autoAssignTo :selected').attr('id');

        if( autoAssignTo != '0' ) // 0 == None
            $.post('/api/team/form/assign', {formID: flyerid, userID: autoAssignTo});

        if( askForComment != '0' ) // 0 == None
            $.post('/api/team/form/askForComment', {formID: flyerid, userID: askForComment});


        $.post( '/flyer/publish', {saveAsDraft:saveAsDraft,flyer:flyerJson} ).done(function(data){
            $('#publishFinalMessage').text(data.message);
            loadSharePanel();
        });
    }
}

function loadSharePanel() {
    $('.publishRow').hide();
    $('.shareRow').show();

    $('#flyerName3').text( $('#flyerName2').val()  );

    $('#flyerURL').val( document.location.origin + '/flyer/embeded/' + flyerid );

    $('#buttonShareDone').click( function() {
        $('.shareRow').hide();
        document.location = '/dashboard';
    });
}

function rotate(element, degree) {
    element.animate({
        '-webkit-transform': 'rotate(' + degree + 'deg)',
        '-moz-transform': 'rotate(' + degree + 'deg)',
        '-ms-transform': 'rotate(' + degree + 'deg)',
        '-o-transform': 'rotate(' + degree + 'deg)',
        'transform': 'rotate(' + degree + 'deg)',
        'zoom': 1
    }, 5000);
}

function saveFlyer(callback) {

    callback = callback || function(a){}

    $('#buttonSave').text('Saving...').addClass('disabled');

    var flyerjson = flyer.flyer2json();
    flyerjson.thumbnail = '';

    if( !existFlyer )
        flyerjson.description = newFlyerName;

    $.post( '/flyer/save', {flyer:flyerjson} )
            .done(function(data){
                callback(true);
                $('#buttonSave').text('Save').removeClass('disabled');
            })
            .fail(function(data){
                callback(false)
                $('#buttonSave').text('Save*').removeClass('disabled');
            });


    // Set next auto save time
    clearTimeout(autosaveTimer);
    autosaveTimer = setTimeout(saveFlyer,autosaveInterval);
}

function viewModeChanged(e) {

    var isViewMode = $('input[name=viewmode]').prop('checked');

    if( isViewMode )
        GoToViewMode();
    else
        GoToEditMode();
}

function init() {
    $('.thumbnail').click(function(){
        // Unselect old selected item
        if( selectedThumbID )
            $('.thumbnail[thumbnailID='+ selectedThumbID +']').removeClass('selected');

        // Select recent selected item
        selectedThumbID = $(this).attr('thumbnailID');
        $(this).find('img').first().addClass('selected');

        $('.thumbnailPreview').find('.caption').text( $(this).attr('caption') );
        $('.thumbnailPreview').find('.description').text( $(this).attr('description') );
    }) ;
}
</script>

<div class="container-fluid" id="fixToolbar" hidden>
    <% if(editMode) { %>
    <div class="row-fluid">
        <div class="span2">
            <button type="button" class="btn btn-primary" id="buttonSave">Save</button>
        </div>
        <div class="span8" style="text-align: center">
            <input type="hidden" name="flyertext" placeholder="Enter Flyer Description" />
            <label class="switch-light switch-candy" style="width: 100px;vertical-align: middle;display: inline-block;margin: 0;" onchange="viewModeChanged()">
                <input type="checkbox" name="viewmode">
                <span>
                    <span>Edit</span>
                    <span>View</span>
                </span>
                <a class="btn btn-success"></a>
            </label>
        </div>
        <div class="span2">
            <div>
                <a id="buttonPublish" class="btn btn-success pull-left">Publish</a>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="container-fluid templateContainer" style="margin-top: 15em">
<div class="row-fluid templateRow" hidden>
    <div class="span8 offset2">

        <div class="container-fluid" style="padding: 20px;background-color: #f1f1f1;border-radius: 4px">
            <div class="row-fluid">
                <div class="span5">
                    <input style="width: 100%" id="flyerName1" type="text" placeholder="Enter Flyer Name (ex. 'Front-End Developer')">
                </div>
            </div>
            <div class="row-fluid" style="margin-top: 2em">
                <div class="span12">
                    <p style="font-size: 1.7em">
                        Select a template for starting:
                    </p>
                </div>
            </div>
            <div class="row-fluid" hidden>
                <div class="span3" style="height: 100%">
                    <div class="thumbnailPreview">
                        <p class="caption">Thumbnail #</p>
                        <p class="description">Suitable for ...</p>
                    </div>
                </div>
            </div>
            <ul class="thumbnails" class="row-fluid">
                <li class="span2">
                    <a class="thumbnail" href="#" thumbnailID="0" caption="Blank" description="Create what you link">
                        <img src="http://placebox.es/100/160/9c9c9c/ffffff/Template/" alt="...">
                        <span>Blank</span>
                    </a>
                </li>
                <li class="span2">
                    <a class="thumbnail" href="#" thumbnailID="1" caption="Front-End" description="Template for front-end develoepr hiring">
                        <img src="http://placebox.es/100/160/9c9c9c/ffffff/Template/" alt="...">
                        <span>Front-End Developer</span>
                    </a>
                </li>
                <li class="span2">
                    <a class="thumbnail" href="#" thumbnailID="1" caption="Front-End" description="Template for front-end develoepr hiring">
                        <img src="http://placebox.es/100/160/9c9c9c/ffffff/Template/" alt="...">
                        <span>Back-End Developer</span>
                    </a>
                </li>
            </ul>
            <div class="row-fluid">
                <div class="span12">
                    <button id="GoToEditor" class="btn btn-success pull-right">Done</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row-fluid flyerRow" hidden>
    <div class="span10 offset1" id="portletsBox">

        <form action="/apply" method="POST" id='applyForm' name="applyForm" enctype='multipart/form-data'>

            <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
            <input type="hidden" name="flyerName">

            <div class="portletHeader">
                <input type="file" hidden="hidden" class="logofile">
                <img class="logo" src="http://placebox.es/231/40/9c9c9c/ffffff/Drop%20Your%20Logo%20Here/">
                <div class="title">
                    JOBS
                </div>
            </div>

            <div class="portletStack"></div>

            <div class="portletCreator container-fluid">
                <div class="row-fluid text-center" id="portletCreatorAlarm" hidden>
                    Error: There is no space for adding new portlet!
                </div>

                <div class="row-fluid" id="plusButton">
                    <div style="width: 84px; height: 64px;margin: 0 auto;">
                        <a class="buttonFrame plusButtonFrame">
                            <i class="button centeralBackgroundImage plusButton "></i>
                        </a>
                    </div>
                </div>
                <div class="row-fluid" id="addButtons" hidden>
                    <div style="margin: 0 auto;position: relative;width: 612px;">
                        <a class="newitem buttonFrame" type="1">
                            <i class="button centeralBackgroundImage addNewTextButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="2">
                            <i class="button centeralBackgroundImage addNewPhotoButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="3">
                            <i class="button centeralBackgroundImage addNewVideoButton"></i>
                        </a>
                        <a class="newitem buttonFrame">
                            <i class="button centeralBackgroundImage closeButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="7">
                            <span class="centeralBackgroundImage genericButton">Badge</span>
                        </a>
                        <a class="newitem buttonFrame" type="4">
                            <i class="button centeralBackgroundImage addNewLinkButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="6">
                            <i class="button centeralBackgroundImage addNewMapButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="8">
                            <span class="centeralBackgroundImage genericButton">WorkType</span>
                        </a>
                        <a class="newitem buttonFrame" type="9">
                            <span class="centeralBackgroundImage genericButton">PersonalInfo</span>
                        </a>
                        <a class="newitem buttonFrame" type="10">
                            <span class="centeralBackgroundImage genericButton">Resume</span>
                        </a>
                        <a class="newitem buttonFrame" type="11">
                            <span class="centeralBackgroundImage genericButton">Else?</span>
                        </a>
                        <a class="newitem buttonFrame" type="12">
                            <span class="centeralBackgroundImage genericButton">Profiles</span>
                        </a>
                        <a class="newitem buttonFrame" type="13">
                            <span class="centeralBackgroundImage genericButton">Seperator</span>
                        </a>
                        <a class="newitem buttonFrame" type="14">
                            <span class="centeralBackgroundImage genericButton">Skill</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="portletThanksMessage container-fluid" style="padding: 0 38px" hidden>
                <div class="row-fluid"  id="text">
                    <div class="span-10 offset-1" style="font-size: 2em;padding:20px ;text-align: center;background: #f1f1f1;line-height: 1.6em;border-radius: 0 0 7px 7px;padding-bottom:3em;">
                        <div class="thanksMessageContent">
                            { Thanks }<br/><br/>
                            We've received your application request and will notify you ASAP.<br/>
                            If you have any question don't hesitate to <a href="mailto:hello@boolt.in">ask us</a><br/>
                            You can read more about booltin <a href="http://blog.boolt.in">here<br/></a><br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portletSubmittion container-fluid" style="background-color: #d1d1d1;">
                <div class="row-fluid"  id="text">
                    <div class="span6 offset3">
                        <input type="button" name="submit" class="btn3d btn3d-2 btn3d-2a applyNowButton" style="font-weight: 700" id="submit_btn" value="APPLY NOW"/>
                        <p class="error" style="display: none;color: red;text-align: center;font-size: 2em;"></p>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="row-fluid publishRow" hidden>
    <div class="span6 offset3">

        <div class="container-fluid" style="background-color: #f1f1f1;border-radius: 4px;padding: 20px;">

            <div class="row-fluid">
                <div class="span12">
                    <div style="font-size: 2em; border-bottom: 1px solid #000;margin-bottom: 1em">
                        Publish Options
                    </div>
                </div>
            </div>

            <div class="row-fluid controls-row">
                <div class="span12">
                    <input type="text" id="flyerName2" style="width: 98%" placeholder="Flyer Name">
                </div>
            </div>

            <div class="row-fluid controls-row">
                <div class="span12">
                <textarea id="thanksMessage" style="width: 98%" placeholder="Thanks Message"></textarea>
                    </div>
            </div>

            <div class="row-fluid">

                <div class="span6" style="font-size: 1.5em;">
                    Auto Assign To
                    <select id="autoAssignTo" style="height: 36px;vertical-align: inherit;">
                            <option id="0">None</option>
                        </select>
                </div>

                <div class="span6" style="font-size: 1.5em;">
                    Ask For Comment
                    <select id="askForComment" style="height: 36px;vertical-align: inherit;">
                        <option id="0">None</option>
                    </select>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <button id="buttonPublishDone" class="btn btn-success pull-right">Done</button>
                    <button id="buttonPublishSaveAsDraft" class="btn btn-danger pull-right" style="margin-right: 1em;">Save as draft</button>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="row-fluid shareRow" hidden>
    <div class="span6 offset3">

        <div class="container-fluid" style="background-color: #f1f1f1;border-radius: 4px;padding: 20px;">

            <div class="row-fluid controls-row">
                <div class="span12" style="font-size: 2em;">
                    <p id="publishFinalMessage" style="color: #9c9c9c;text-align: center;border: 2px solid #9c9c9c;padding: 10px;margin-bottom: 30px;border-radius: 4px;background-color: #DADADA;"></p>
                    <p id="flyerName3">Title</p>
                </div>
            </div>

            <div class="row-fluid controls-row">
                <div class="span12">
                    <input type="url" id="flyerURL" style="width: 90%">
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <b>Share on:</b>
                </div>
                <div class="span4">
                    <g:plus action="share" href="http://booltin.herokuapp.com/flyer/embeded/<%=flyerid%>"></g:plus>
                </div>
                <div class="span3">
                    <div class="fb-share-button" data-href="http://booltin.herokuapp.com/flyer/embeded/<%=flyerid%>" data-type="button_count"></div>
                </div>
                <div class="span3">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://booltin.herokuapp.com/flyer/embeded/<%=flyerid%>" data-text="We are hiring" >Tweet</a></div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <button id="buttonShareDone" class="btn btn-danger pull-right">Close</button>
                </div>
            </div>

        </div>

    </div>
</div>

</div>

<div id="previewFrame" hidden>
</div>

<div class="widgets">

<div class="textWidget">

    <!--<div class="btn-toolbar" data-role="editor-toolbar"-->
    <!--data-target="#editor">-->
    <!--<a data-edit="bold" style="display: block;width: 100px;height: 100px; background: red">bold</a>-->
    <!--<a data-edit="fontName Arial">...</a>-->
    <!--</div>-->
    <div id="editor" class="text-widget"></div>
</div>

<div class="image-widget">
    <div class="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>

    <div class="imageWidgetOuterContainer">
        <div class="imageWidgetInnerContainer">
            <input type="file" name="picture" hidden>
            <i class="imageWidgetCamera"></i>
            <div>Drop your pictures here</div>
            <div>or
                <button class="wbtn wbtn-2 wbtn-2a browseImgBtn">Browse</button>
                your computer
            </div>
        </div>
        <img>
    </div>

    <div class="image-editor-dialog">
        <div class="image-dialog-content imgly-container" >

        </div>
        <a class="btn btn-warning btn-large pull-right image-edit-cancel"><i class="icon-remove"></i></a>
        <a class="btn btn-primary btn-large pull-right image-edit-ok" ><i class="icon-ok"></i></a>
    </div>
</div>

<div class="container-fluid mapWidget">
    <div class="row-fluid" >
        <div id="panel" class="offset2 span8 panel" style="height: 210px">
            <textarea id="address" placeholder="Sydney, NSW" class="address-left"></textarea>
            <div id="map-canvas" class="map-right"></div>
            <img id="map-image" hidden class="map-right">
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset2 span8 moreInfoAboutAddress"></div>
    </div>
</div>

<div class="container-fluid workTypeWidget" style="padding: 20px">
    <div class="row-fluid" id="workPlace-workType" >

        <div class="span0"></div>

        <div class="offset1 span5 workPlaceSpan" >
            <div style="margin-bottom: 5em;">

                <div class="radioButtonGroup">

                    <p class="radioButtonGroupDescription">3. You prefer to work at ...</p>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="atHome" type="radio" name="workPlace" value="home" checked>
                        <label for="atHome" class="bbtn-label b-icon-container bbtn-circlular b-label-atHome">
                            <i class="b-icon b-icon-atHome" ></i>
                        </label>
                        <p class="subtitle">Home</p>
                    </div>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="atOffice" type="radio" name="workPlace" value="office">
                        <label for="atOffice" class="bbtn-label b-icon-container bbtn-circlular b-label-atOffice">
                            <i class="b-icon b-icon-atOffice" ></i>
                        </label>
                        <p class="subtitle">Office</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="span5 workTimeSpan" >
            <div style="margin-bottom: 5em;">
                <div class="radioButtonGroup">

                    <p class="radioButtonGroupDescription">4. You prefer to work as ...</p>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="fullTime" type="radio" name="workTime" value="fulltime" checked>
                        <label for="fullTime" class="bbtn-label b-icon-container bbtn-circlular b-label-fullTime">
                            <i class="b-icon b-icon-fullTime" ></i>
                        </label>
                        <p class="subtitle">Full-Time</p>
                    </div>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="partTime" type="radio" name="workTime" value="parttime">
                        <label for="partTime" class="bbtn-label b-icon-container bbtn-circlular b-label-partTime">
                            <i class="b-icon b-icon-partTime" ></i>
                        </label>
                        <p class="subtitle">Part-Time</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid personalInfoWidget">
    <div class="row-fluid temp"  id="text">
        <div class="offset3 span6" >
            <div class="card">
                <div class="cardHead">
                    <img class="profilePic" id="profileImage">
                </div>
                <input type="text" name="name" id="name" placeholder="Enter Your Name ..." class="cardField">
                <hr>
                <input type="email" name="email" id="email" placeholder="Enter Your Email Address ..." class="cardField">
                <div class="cardFoot"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid anythingElseWidget">
    <div class="offset1 span10" >
        <textarea placeholder="Anything else?" rows="5" class="textarea" name="anythingElse"></textarea>
    </div>
</div>

<div class="container-fluid resumeWidget">
    <div class="offset1 span10" >
        <div class="dropZone" id="dropzone">
            <i class="logo resumeIcon"></i>
            <span>Click Here To Add Your Résumé (Max. 5MB)</span>
        </div>
        <input type="file" id="resumefile" name="resume" style="display: none" max-size="5,242,880">
    </div>
</div>



<!--<div class="container-fluid profilesWidget">-->
<div class="container-fluid profilesWidget">
    <div class="row-fluid">

        <span class="bool-field">
            <label class="bool-label" for="name">
                Name:
            </label>

            <div class="bool-input-group">
                <input type="text" name="name"   id="name">
                <span class="bool-glass bool-image"></span>
                <span class="bool-clear-container">
                    <i class="bool-clear-btn bool-image"></i>
                </span>
            </div>
        </span>

        <div class="bool-iconic-input-container">
            <div class="bool-iconic-input">
                <div class="bool-iconic-col-icon">
                    <div class="bool-iconic-cell-icon">
                        <i class="bool-iconic-icon bool-icon-github-white"></i>
                    </div>
                </div>
                <div class="bool-iconic-col-label">github.com/ </div>
                <div class="bool-iconic-col-input">

                    <input type="text" name="name" id="name">
                    <span class="bool-glass bool-image"></span>
                    <span class="bool-clear-container">
                        <i class="bool-clear-btn bool-image"></i>
                    </span>
                </div>
            </div>
        </div>


    </div>


</div>

<div class="container-fluid seperatorWidget">
    <div class="row-fluid" id="flatTitle">
        <div class="span12" >
            <div >
                <div class="flatSection" style="text-align:center "   >
                    <hr>
                    <pre >More Info</pre>
                </div>
                <!--<span>More Info</span>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid skillWidget" style="padding: 20px">
    <div class="span12" >
        <div>

            <div class="emptyState" style="font-size: 1.8em;text-align: center;">Add Some Skills From Toolbar</div>

            <div style="display: table;margin: 0 auto;">

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='html5' type="checkbox" name="skill" value="html5">
                    <label for="html5" class="bbtn-label b-icon-container b-label-html5">
                        <i class="b-icon b-icon-html5" ></i>
                    </label>
                    <p>HTML5</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='css3' type="checkbox" name="skill" value="css3">
                    <label for="css3" class="bbtn-label b-icon-container b-label-css">
                        <i class="b-icon b-icon-css" ></i>
                    </label>
                    <p>CSS3</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='js' type="checkbox" name="skill" value="javascript">
                    <label for="js" class="bbtn-label b-icon-container b-label-js">
                        <i class="b-icon b-icon-js" ></i>
                    </label>
                    <p>Javascript</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='jquery' type="checkbox" name="skill" value="jquery">
                    <label for="jquery" class="bbtn-label b-icon-container b-label-jquery">
                        <i class="b-icon b-icon-jquery" ></i>
                    </label>
                    <p>jQuery</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='less' type="checkbox" name="skill" value="less">
                    <label for="less" class="bbtn-label b-icon-container b-label-less">
                        <i class="b-icon b-icon-less" ></i>
                    </label>
                    <p>Less</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='bootstrap' type="checkbox" name="skill" value="bootstrap">
                    <label for="bootstrap" class="bbtn-label b-icon-container b-label-bootstrap">
                        <i class="b-icon b-icon-bootstrap" ></i>
                    </label>
                    <p>Bootstrap</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='git' type="checkbox" name="skill" value="git">
                    <label for="git" class="bbtn-label b-icon-container b-label-git">
                        <i class="b-icon b-icon-git" ></i>
                    </label>
                    <p>Git</p>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="container-fluid badgeWidget">
    <div class="row-fluid"  id="badge"  style="font-size: 2em;">
        <div class="col-sm-12">

            <div class="emptyState" style="text-align: center;padding: 20px 0;">Add Some Badge From Toolbar</div>

            <div style="display: table;margin: 0 auto;">

                <div class="badgeOuterFrame vacation">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconVacation"></i>
                        <div class="badgeDescription">You can take a vacation anywhere, anytime.</div>
                    </div>
                </div>

                <div class="badgeOuterFrame snack">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconFreeFood"></i>
                        <div class="badgeDescription">You will never get hungry, with a fully stocked snack bar.</div>
                    </div>
                </div>

                <div class="badgeOuterFrame health">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconHealthCaring"></i>
                        <div class="badgeDescription">Comprehensive health insurance including dental & vision options</div>
                    </div>
                </div>

                <div class="badgeOuterFrame share">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconShare"></i>
                        <div class="badgeDescription">You can have a share.<br/>0.5-1%</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

</div>

<div class="toolbars">
    <div class="toolbar-text">

        <div class="bool-combo">
            <span class="bool-combo-icon">
                <i class="bool-icon-size"></i>
            </span>
            <a class="btn dropdown-toggle bool-combo-btn" data-toggle="dropdown" href="#">
                <span class="bool-combo-text">Small</span>
                <span class="caret bool-caret"></span>
            </a>
            <ul class="dropdown-menu bool-combo-list">
                <li><a style="font-size: 18px" command="size 18">Small</a></li>
                <li><a style="font-size: 20px" command="size 36">Medium</a></li>
                <li><a style="font-size: 24px" command="size 48">Large</a></li>
            </ul>
        </div>
        <ul class="nav nav-pills pull-left">
            <li class="dropdown btn-group ">
                <a class="bool-btn dropdown-toggle bool-color-dropdown" data-toggle="dropdown" title="" data-original-title="Font Color">
                    <span class="bool-current-color"></span>
                </a>
                <ul class="dropdown-menu bool-color-picker" >

                </ul>

            </li>
            <li class="dropdown btn-group bool-tab-btn">
                <a class="bool-tab dropdown-toggle bool-color-dropdown" data-toggle="dropdown" title="" data-original-title="Font Color">
                    <i class="bool-icon bool-icon-recent"></i>
                    <span class="bool-tab-text">Recent Colors</span>
                </a>
                <ul class="dropdown-menu bool-color-picker bool-color-picker-recent">
                    <li><div class="bool-no-recent">No item has been selected</div></li>
                </ul>
            </li>
        </ul>
        <div class="bool-separator"></div>
        <a class="bool-btn"  command="align left" title="Align Left" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="bool-icon-align-left"></i></a>
        <a class="bool-btn"  command="align center" title="Align Center" data-original-title="Center (Ctrl/Cmd+E)"><i class="bool-icon-align-center"></i></a>
        <a class="bool-btn"  command="align right" title="Align Right" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="bool-icon-align-right"></i></a>
        <div class="bool-separator"></div>
        <a class="bool-btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="bool-icon-bold"></i></a>
        <a class="bool-btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="bool-icon-italic"></i></a>
        <a class="bool-btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="bool-icon-underline"></i></a>
        <a class="bool-btn" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="bool-icon-list-ul"></i></a>
        <a class="bool-btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="bool-icon-list-ol"></i></a>
    </div>

    <div class="toolbar-picture">
        <a class="btn btn-large" command="add"><i class="icon-picture"></i></a>
        <a class="btn btn-large" command="edit"><i class="icon-edit"></i></a>
        <a class="btn btn-large hide" command="crop"><i class="icon-edit"></i></a>
    </div>

    <div class="toolbar-separatorWidget">
       <div class="pull-left">
        <span  id="toolbar-labelSeparator" >Section Title</span>
        <input type="text" id="toolbar-inputTextSeparator" name="text" placeholder="More Info.">
       </div>
        <ul class="nav nav-pills pull-left">
            <li class="dropdown btn-group ">
                <a class="bool-btn dropdown-toggle bool-color-dropdown" data-toggle="dropdown" title="" data-original-title="Font Color">
                    <span class="bool-current-color"></span>
                </a>
                <ul class="dropdown-menu bool-color-picker" >

                </ul>

            </li>
            <li class="dropdown btn-group bool-tab-btn">
                <a class="bool-tab dropdown-toggle bool-color-dropdown" data-toggle="dropdown" title="" data-original-title="Font Color">
                    <i class="bool-icon bool-icon-recent"></i>
                    <span class="bool-tab-text">Recent Colors</span>
                </a>
                <ul class="dropdown-menu bool-color-picker bool-color-picker-recent">
                    <li><div class="bool-no-recent">No item has been selected</div></li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="toolbar-profileWidget">


        <span id="toolbar-labelprofile">Profiles : </span>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="github"   name="p" value="github" checked>
            <i class="bool-icon-github"></i>
        </a>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="stackoverflow"   name="p" value="stackoverflow" checked>
            <i class="bool-icon-stackoverflow"></i>
        </a>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="twitter"   name="p" value="twitter" checked>
            <i  class="bool-icon-twitter"></i>
        </a>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="linkedin"   name="p" value="linkedin" checked>
            <i class="bool-icon-linkedin"></i>
        </a>
        <a  class="bool-btn" >
            <input hidden type="checkbox" id="dribbble"   name="p" value="dribbble" checked>
            <i class="bool-icon-dribbble"></i>
        </a>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="behance"   name="p" value="behance" checked>
            <i  class="bool-icon-behance"></i>
        </a>
        <div class="bool-separator"></div>
        <a  class="bool-btn" >
            <input hidden  type="checkbox" id="email"   name="p" value="email" checked>
            <i class="bool-icon-email"></i>
        </a>
        <a  class="bool-btn" >
            <input hidden type="checkbox" id="tel"   name="p" value="tel" checked>
            <i class="bool-icon-tel"></i>
        </a>

        <a  class="bool-btn" >
            <input hidden type="checkbox" id="website"   name="p" value="website" checked>
            <i  class="bool-icon-website"></i>
        </a>

        <!--<input type="checkbox" id="github"   name="p" value="github" checked>-->
        <!--<label for="github">Github</label>-->
        <!--<input type="checkbox" id="stack"    name="p" value="stackoverflow"  checked>-->
        <!--<label for="stack">Stackoverflow</label>-->
        <!--<input type="checkbox" id="dribbble"  name="p" value="dribbble"  checked>-->
        <!--<label for="dribbble">Dribbble</label>-->
        <!--<input type="checkbox" id="behance"  name="p" value="behance" checked>-->
        <!--<label for="behance">Behance</label>-->
        <!--<input type="checkbox" id="linkedin" name="p" value="linkedin" checked>-->
        <!--<label for="linkedin">Linkedin</label>-->
        <!--<input type="checkbox" id="twitter"  name="p" value="twitter" checked>-->
        <!--<label for="twitter">Twitter</label>-->

    </div>

    <div class="toolbar-workTypeWidget">
        <div>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-time" no="1"><span>Time</span>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-place" no="2"><span>Place</span>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-both" no="3"><span>Both</span>
        </div>
    </div>

    <div class="toolbar-resumeWidget">
        <button name="connectToDropBox" class="btn">Connect to Dropbox</button>
    </div>

    <div class="toolbar-anything">
        <label for="anything-limit" >Limit:</label>

        <input id="anything-limit" type="number" command='limit' event='change keyup paste keydown' name="limit" value="1000" min="10" max="5000">
        <label>you have </label>
        <label class="remaind"></label>
        <label> left</label>
    </div>

    <div class="toolbar-skillsWidget">
        <div style="width: 350px;position: relative">

            <select name="chosen" data-placeholder="Choose skills ..." style="width:350px;" multiple class="chosen-select">
                <option value="html5">HTML5</option>
                <option value="css3">CSS3</option>
                <option value="javascript">Javascript</option>
                <option value="jquery">jQuery</option>
                <option value="less">Less</option>
                <option value="bootstrap">Bootstrap</option>
                <option value="git">Git</option>
            </select>

        </div>
    </div>

    <div class="toolbar-badgeWidget">

        <input type="checkbox" id="vacation"   name="badge" value="vacation" checked>
        <label for="vacation">vacation</label>

        <input type="checkbox" id="snack"   name="badge" value="snack" checked>
        <label for="snack">snak</label>

        <input type="checkbox" id="health"   name="badge" value="health" checked>
        <label for="health">health</label>

        <input type="checkbox" id="share"   name="badge" value="share" checked>
        <label for="share">share</label>

    </div>

    <div class="toolbar-videoWidget">
        <div class="videoWidgetInputboxOutterToolbar">
            <input type="text" id="videoWidgetInputboxTextToolbar"  placeholder="Paste your video link here">
            <button  command="done" class="wbtn wbtn-2 wbtn-2a videoWidgetInputboxDoneToolbar" id="DoneToolbar">Done</button>
        </div>
    </div>
</div>
