<% layout('layout') -%>
<script src="flyer.js"></script>
<style>
    .putdownButton {
        margin: 10px 0;
    }
</style>

<link rel="stylesheet" href="http://welldonethings.com/managed/tagmanager.css">
<script src="http://welldonethings.com/managed/tagmanager.js"></script>
<script src="jquery.putup-panel.js"></script>

<script>
var putupPanel;
var putupModal;

function showMessage(text) {
    $('.alert').find('.msg').text(text);
    $('.alert').show();
    setTimeout(function(){hideMessage()},7000);
}

function hideMessage() {
    $('.alert').hide();
}

var LoadBoardsInformation = function() {

    // Load information about flyers on each board
    $('.userboard').each(function(index){

        var boardid = $(this).attr('board-id');
        var flyerInformation = $(this).find('.thumbnail .boardInformation');
        flyerInformation.html('');

        $.get('/board/'+boardid+'/flyers')
                .done(function(data){
                    flyerInformation.append('Number Of Flyers: ' + data.flyers.length);
                })
                .fail(function(data){
                });
    });
}

var LoadFlyersInformation = function() {
    // Load information about board of flyer
    $('.userflyer').each(function(index){

        var flyerid = $(this).attr('flyer-id');
        var boardInformation = $(this).find('.thumbnail .flyerInformation');

        $.get('/flyer/'+flyerid+'/boards')
                .done(function(data){
                    // Clear
                    boardInformation.html('');

                    // Refill it
                    data.boards.forEach(function(board){

                        // Add PutDown button to each board which the flyer is put on it
                        $('<div></div>')
                                .addClass('btn btn-warning btn-small btn-block putdownButton')
                                .attr('boardid',board._id)
                                .attr('flyerid',flyerid)
                                .text('Put-Dowm From ' + board.name )
                                .click(function(){
                                    $.post('/flyer/putdown',{
                                        flyerid:$(this).attr('flyerid'),
                                        boardid:$(this).attr('boardid')
                                    }).done(function(data){
                                                showMessage(data.error);

                                                // ToDo: Implement More Efficient!
                                                LoadBoardsInformation();
                                                LoadFlyersInformation();

                                            }).fail(function(data){
                                                showMessage(data.error);
                                            });
                                })
                                .appendTo(boardInformation);
                    });
                    $('<div></div>')
                            .text('Number Of Boards: ' + data.boards.length)
                            .prependTo(boardInformation);
                })
                .fail(function(data){
                });
    });
}

$(function(){

    var flyer = $().Flyer({});

    $('.userflyer').each(function(idx){

        var flyerid = $(this).attr('flyer-id');
        var parentElem = $('#userFlyerPreview'+flyerid);

        /*
         $('#userFlyerPreview'+flyerid).Flyer({
         editMode:false,
         flyerid:flyerid
         });
         */
        flyer.getThumbnail(flyerid, function(imgURL){
            if(imgURL){
                $('<img>')
                        .attr('src',imgURL)
                        .width(300)
                        .appendTo(parentElem);
                console.log(flyerid + ' - ' + imgURL);
            }
        });
    });

    LoadBoardsInformation();
    LoadFlyersInformation();

    $('.putupform').submit(function(){

        $.post('/flyer/putup',$(this).serialize())
                .always(function(data){
                    showMessage(data.error);

                    // ToDo: Implement More Efficient!
                    LoadBoardsInformation();
                    LoadFlyersInformation();
                });

        return false;
    })

    putupModal = $('#putupPanel').dialog( {
        modal: true,
        autoOpen: false,
        width: 620,
        height: 450
    });

    $('#putupDoneButton').click(function(){
        var selectedBoards = putupPanel.getSelectedBoards();
        var defaultSelectedBoards = putupPanel.getDefaultSelectedBoards();
        var flyerid = $('#putupPanel').attr('currentFlyerID');

        // PutDown From The Removed Boards
        for(var i=0; i<defaultSelectedBoards.length; i++){
            var isFound = false;
            for(var j=0; j<selectedBoards.length; j++){
                if(selectedBoards[j]._id==defaultSelectedBoards[i]._id){
                    isFound = true;
                    break;
                }
            }

            if(isFound==false){
                putdown(flyerid,defaultSelectedBoards[i]._id);
                defaultSelectedBoards[i] = null;
            }
        }


        //for(var i=0;i<selectedBoards.length;i++)
        //    putup( flyerid, selectedBoards[i]._id, (i==selectedBoards.length-1) );

        // PutUp On The New Boards
        for(var i=0; i<selectedBoards.length; i++){
            var isFound = false;
            for(var j=0; defaultSelectedBoards[j]!=null && j<defaultSelectedBoards.length; j++){
                if(selectedBoards[i]._id==defaultSelectedBoards[j]._id){
                    isFound = true;
                    break;
                }
            }

            if(isFound==false)
                putup(flyerid,selectedBoards[i]._id);
        }

        ClosePutupPanel();
    })
});

function putdown(flyerid, boardid){
    $.post('/flyer/putdown',{
        flyerid:flyerid,
        boardid:boardid
    })
            .done(function(data){
                LoadBoardsInformation();
                LoadFlyersInformation();
            })
            .fail(function(data){});
}

function putup( flyerid, boardid, updateInfo ){
    $.post('/flyer/putup', {
        boardid:boardid,
        flyerid:flyerid
    }).always(function(data){
                LoadBoardsInformation();
                LoadFlyersInformation();

                showMessage(data.error);
            });
}

function OpenPutupPanel(flyerid) {
    $('#putupPanel').attr('currentFlyerID',flyerid);

    // Set current boards that is put up on them
    $.get('/flyer/'+flyerid+'/boards')
            .done(function(data){

                putupPanel = $('#putupPanelBody').putupPanel();
                putupPanel.setSelectedBoards(data.boards);

                $('#putupPanel').dialog('open');
            });
}

function ClosePutupPanel() {
    $('#putupPanel').dialog('close');
    $('#putupPanelBody').remove();
}

</script>

<script>
    $(document).ready(main);
    function submit(){
        $("input#tag").tagsinput('items');
    }

    var marker;
    var map;
    function fillCategory(){
        $.get('/board/categories',
                function(cats){
                    var options=$('select.categories');
                    $.each(cats,
                            function(i,cat){
                                options.append(
                                        $('<option>').attr('name',cat.id).append(
                                                cat.name
                                        )
                                );

                            });
                });
    }

    function main(){
        fillCategory();

        map = L.mapbox.map('map','coybit.gj1c3kom',{doubleClickZoom:false})
                .setView([37.9, -77], 6)

        $.getJSON('/boards',function(boards){
            var geoJson= new Array();
            $.each(boards,function(index,boardnn){
                geoJson.push({
                    type: 'Feature',
                    geometry:{
                        type:'Point',
                        coordinates:[boardnn.locationlng,boardnn.locationlat]
                    },
                    properties: {
                        title: boardnn.name,
                        description: boardnn.category,
                        'marker-size': 'large',
                        'marker-color': 'CC0033'
                    }
                    // draggable: true
                })
            });
            map.markerLayer.setGeoJSON(geoJson);
        });




    }

    function locationError(msg) {
//    if(msg==null)
//        msg='Failed to find location. Allow your browser to access your location.';
        $('#msgLocationError>.msg').text(msg.message).parent().show();
    }


    function ErrorMsg(msg) {
        $('.message-error').show();
        $('.message-error>.msg-error').text(msg);
    }

    function locationFound(e) {
        map.fitBounds(e.bounds);
        marker.setLatLng(e.latlng);
    }

</script>

<div class="container-fluid" style="margin: 0 100px;">

    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info hide">
                <span class="msg"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="settingTabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">
                            Boards<span class="badge"><%= boards.length %></span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab">
                            Flyers<span class="badge"><%= flyers.length %></span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3" data-toggle="tab">
                            Following<span class="badge"><%= followingBoards.length %></span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab4" data-toggle="tab">
                            Ticketeds<span class="badge"><%= ticketedFlyers.length %></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div id="map" style="width: 90%; height: 280px; margin: 10px;" ></div>
                        <div>
                            <ul class="thumbnails">
                                <% for(i=0;i<boards.length;i++){%>
                                <li class="span3 userboard" board-id="<%=boards[i]._id%>">
                                    <a class="thumbnail" href="/board/<%=boards[i]._id%>">
                                        <h3 class="caption"><%=boards[i].name%></h3>
                                        <h5 class="caption"><%=boards[i].category%></h5>
                                        <h5 class="caption"><%=boards[i].privacy||''%></h5>
                                        <h5 class="boardInformation"></h5>
                                    </a>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div>
                            <ul class="thumbnails">
                                <% for(var i=0;i<flyers.length;i++){%>
                                <li class="span5 userflyer" flyer-id="<%=flyers[i]._id%>" style="height: inherit">
                                    <div class="thumbnail">
                                        <a href="/flyer/<%=flyers[i]._id%>">
                                            <div class="container-fluid">
                                                <div class="row-fluid">
                                                    <div class="span11">
                                                        <h4>
                                                            <%=(flyers[i].flyer&&flyers[i].flyer.description)
                                                                    ? flyers[i].flyer.description
                                                                    : "untitled"%>
                                                        </h4>
                                                    </div>
                                                    <div class="span1">
                                                        <a class="btn btn-mini btn-danger" href="/flyer/remove/<%=flyers[i]._id%>">&times</a>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span10 flyerInformation"></div>
                                                    <div class="span2"><a class="btn btn-mini" onclick="OpenPutupPanel('<%=flyers[i]._id%>')">Put More</a></div>
                                                </div>

                                                <div class="row-fluid">

                                                    <form action="/flyer/putup" method="post" class="form-inline putupform">
                                                        <div class="controls">

                                                            <input type="hidden" name="flyerid" value="<%=flyers[i]._id%>">
                                                            <select name="boardid">
                                                                <%for(var j=0;j<pBoards.length;j++){%>
                                                                <option value="<%=pBoards[j]._id%>"> <%=pBoards[j].name%> </option>
                                                                <%}%>
                                                            </select>
                                                            <button class="btn input-mini btn-success" type="submit">pin it</button>

                                                        </div>
                                                    </form>

                                                    <hr style="background-color: #000000;height: 1px">
                                                </div>
                                                <div class="row-fluid">
                                                    <div id="userFlyerPreview<%=flyers[i]._id%>"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div>
                            <ul class="thumbnails">
                                <% for(i=0;i<followingBoards.length;i++){%>
                                <li class="span3">
                                    <a class="thumbnail" href="/board/<%=followingBoards[i]._id%>">
                                        <h3 class="caption"><%=followingBoards[i].name%></h3>
                                        <h5 class="caption"><%=followingBoards[i].category%></h5>
                                        <h5 class="caption"><%=followingBoards[i].privacy||''%></h5>
                                    </a>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div>
                            <ul class="thumbnails">
                                <% for(i=0;i<ticketedFlyers.length;i++){%>
                                <li class="span3">
                                    <% if( ticketedFlyers[i].isDeleted) { %>
                                    <h3 class="caption">A Deleted Flyer</h3>
                                    <% } else { %>
                                    <a class="thumbnail" href="/flyer/<%=ticketedFlyers[i].flyer._id%>">
                                        <h3 class="caption"><%=ticketedFlyers[i].flyer.flyer.description%></h3>
                                    </a>
                                    <% } %>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="putupPanel" title="PutUp Panel">
    <div id="putupPanelBody" style="width: 600px; height: 300px">
    </div>
    <div style="position: absolute; bottom: 0;">
        <button type="button" class="btn btn-primary" id="putupDoneButton">Done</button>
    </div>
</div><!-- /.modal -->
