<% layout('layout') -%>

<div class="container">
    <div class="row">
        <h2>Profile</h2>
    </div>
    <div class="row ">
        <div>
            <div style="background-color: #c9e8ff; padding-bottom: 2px">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="/profile/boards">
                            <span class="badge pull-right"><%= boards.length %></span>
                            Boards
                        </a>
                    </li>
                </ul>
               <ul>
                    <% for(i=0;i<boards.length;i++){%>
                    <li><a href="/board/<%=boards[i].board%>"><%=boards[i].board%></a></li>
                    <%}%>
                </ul>
            </div>
            <div style="background-color: #c9e8ff; padding-bottom: 2px">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="/profile/flyers">
                            <span class="badge pull-right"><%= flyers.length %></span>
                            Flyers
                        </a>
                    </li>
                </ul>
                <ul>
                    <% for(i=0;i<flyers.length;i++){%>
                    <li>
                        <a href="/flyer/<%=flyers[i]._id%>"><%=flyers[i].text%></a>
                        <a href="/flyer/remove/<%=flyers[i]._id%>">[X]</a>
                        <a href="/flyer/remove/<%=flyers[i]._id%>">[PutUp]</a>
                    </li>
                    <%}%>
                </ul>
            </div>
            <form class="form-horizontal" action="/profile" method="post">
                <div class="control-group">
                    <div class="control-label"> Email:</div>
                    <div class="controls ">
                         <%=everyauth.user.email%>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label"> Enter Old Password:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  name="oldpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Passwords must match</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"> Enter New Password:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  name="newpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Password must contains at least 6 characters</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"> Enter Password again:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password" name="confirmnewpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Passwords must match</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn input-medium btn-primary" value="Save Changes">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
