<% layout('layout') -%>

<html xmlns:fb="http://ogp.me/ns/fb#">
<link rel="stylesheet" href="/css/promote.css"/>

<!-- Facebook -->
<script>

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<!-- Twitter -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script>
    /* !function(d,s,id){
     var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
     if(!d.getElementById(id)){
     js=d.createElement(s);
     js.id=id;
     js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
     }}(document, 'script', 'twitter-wjs');*/
</script>


<!-- Google+ -->
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
    /*(function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/platform.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();*/
</script>

<script>
var JobBoardPrice =undefined;
var flyerID='<%= FlyerID %>';
var jobLink='<%= JobLink %>';
var address='<%= Address %>';
var workCondition='<%= WorkCondition %>';
var skills='<%= Skills %>';
var logo='<%= Logo %>';
var positionTitle='<%=PositionTitle%>';
var description='<%=Description%>';
var companyName='';
var teamID='';
</script>
<script src="/script/promote.js"></script>
<div class="job-title"> <%=PositionTitle%> </div>

<!-------------------------------------Social Networks -------------------------------------------------->

<div class="social-network">
    <span>Social Networks </span>

    <br>

    <!-- <a id="tw-promote" href="https://twitter.com/share"   class="twitter-share-button" data-url="" data-text=" " data-count="none">Tweet</a>-->
    <a id="tw-promote" href="https://twitter.com/intent/tweet?text=Check%20this%20out&url=https%3A%2F%2Fdev.twitter.com%2Fdiscussions%2F2441&related=episod"><img src='/tw.png' title="Tweet" alt="Tweet" /></a>

    <a id="ln-promote" href="" rel="nofollow"
       onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img src="/ln.png" title="Share on LinkedIn" alt="Share on LinkedIn"  />
    </a>

    <a id="gp-promote"  href=""
       onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img  src='/gp.png' title="Share on Google+" alt="Share on Google+"/>
    </a>


    <!-- Place this tag where you want the share button to render. -->
    <!--<div id="gp-promote" class="g-plus" data-action="share" data-annotation="none" data-href=""></div>-->

    <!--<div  id="share">

        <fb:share-button class="meta" >
            <meta name="title" content="HyperArts"/>
            <meta name="description" content="Read the Static FBML Bible and Rejoice!"/>
            <link rel="image_src" href="http://www.hyperarts.com/facebook/static-fbml-bible/_img/share-popup_80x80.gif"/>
            <link rel="target_url" href="http://www.facebook.com/StaticFBMLBible"/>
        </fb:share-button>
    </div>-->

    <!-- <div id="fb-promote" class="fb-share-button" data-href="" data-type="button"></div> -->

    <fb:share-button  id="fb-promote" href="" type="button" style="bottom=16px" ></fb:share-button>
</div>
<br>

<!-------------------------------------Job Boards ------------------------------------------------------>

<div class="job-boards" >
    <span>Job Boards </span>
    <br>


    <div id="flyer-list" style="background-color: #f8f8f8" class="container-fluid">


        <div class="row-fluid positionsHeaderRow" style="background-color: #94a0b4">
            <div class="span3 colPreview" >Preview</div>
            <div class="span1 colSelect">Select</div>
            <div class="span2 colOptions">Options</div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="stackof-promote" title="Stack Overflow" type="button" value=""  style="background-image: url('/stackoverflow-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-stackof-promote" title="Stack Overflow" type="checkbox" value="Stack Overflow" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="git-promote"     title="GitHub" type="button" value="" style="background-image: url('/githup-64.png')"  >
            </div>
            <div class="span1 colSelect">
                <input id="ch-git-promote"     title="GitHub" type="checkbox" value="GitHub" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="dribbble-promote" title="Dribbble" type="button" value=""  style="background-image: url('/dribbble-64.png')">
            </div>
            <div class="span1 colSelect">
                <input id="ch-dribbble-promote" title="Dribbble" type="checkbox" value="Dribbble" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="behance-promote" title="Behance" type="button" value=""  style="background-image: url('/behance-64.png')">
            </div>
            <div class="span1 colSelect">
                <input id="ch-behance-promote" title="Behance" type="checkbox" value="Behance">
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="linkedin-promote" title="LinkedIn" type="button" value=""  style="background-image: url('/linkedin-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-linkedin-promote" title="LinkedIn" type="checkbox"  value="LinkedIn"  >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="indeed-promote"   title="Indeed" type="button" value="" style="background-image: url('/indeed-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-indeed-promote" title="Indeed" type="checkbox"  value="Indeed">
            </div>
            <div class="span4 colOptions">
                <label  >Indeed payment ($): </label>
                <input id="inputtext-indeed-payment" type="number"  value="50" >
                <label > (Min:$50 - Max:$1000)</label>
            </div>
        </div>

    </div>
</div>


<input id="btn-promote-payment" type="button"  value="Payment" >

<div id="div-total-payment" >
    $ 0.00
</div>


<!-------------------------------------Dialogs ------------------------------------------------------>

<div id="alert-payment-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header-label">Error</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <p style="font-size: 1.3em"> You must be select at least one job board. </p>
        </div>
    </div>
    <div class="modal-footer">
           <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


<div id="payment-action-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header-label">Payment</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

        </div>
    </div>
    <div class="modal-footer">
        <!--    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="btn-confirm" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Confirm</button>-->
    </div>
</div>


<div id="job-borad-preview-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <span id="sp-company-name" >Company Name</span><p id="company-name"> -- </p>
            <div id="div-logo" >
                <hr>
                <span>Company Logo</span>
                <br>
                <img id="company-logo"  src="">
            </div>

            <hr>
            <span >Job Title</span> <p id="job-title"> -- </p>
            <div id="div-description" >
                <hr>
                <span >Job Description</span> <p id="job-description"> -- </p>
            </div>
            <hr>
            <span >Address</span> <p id="job-address"> -- </p>

            <div id="div-skills" >
                <hr>
                <span >Skills</span> <p id="job-skills"> -- </p>
            </div >

            <div id="div-workPlaceTime" >
                <hr>
                <span >Work Place/Time</span> <p id="job-workPlaceTime"> -- </p>
            </div >
            <div id="div-joblink" >
                <hr>
                <span >Job URL</span> <p id="job-link"> -- </p>
            </div >
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


