<% layout('layout') -%>
<style>


    .job-title {
        position: relative;
        bottom: -120px;
        left: 10px;
        display: block;
        margin: 20px 20px;
        min-width: 100px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 8px;
        border: 4px 4px;
        border-color: #006dcc;
        border: solid;
        background: #b0b0b0;
        font-weight: 700;
        border-radius: 7px;
        font-size: 3em;
        font-weight: 700;
        color: #002a80;
    }
    .social-network {
        position: relative;
        bottom: -160px;
        left: 10px;
        right: 0;
        display: block;
        margin: 20px 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100px;
        height: 130px;
        line-height: 60px;
        text-align: center;
        background: #c3c3c3;
        font-weight: 700;
        border-radius: 7px;
        font-size: 2.5em;
    }

    .social-network input{
        height: 48px;
        width: 48px;
        border-radius: 8px;
        border: 2px ;
        border-color: #2d6987;
        border-style: solid;
        margin-right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #e3e3e3;
    }

        .social-network input:hover{
            height: 48px;
            width: 48px;
            border-radius: 8px;
            border: 2px ;
            border-color: #B3B3B3;
            border-style: solid;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #fcfcfc;
        }

    .social-network input:active{
        height: 48px;
        width: 48px;
        border-radius: 8px;
        border: 2px ;
        border-color: #f8f8f8;
        border-style: solid;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fcfcfc;

    }
    .job-boards {
        position: relative;
        bottom: -120px;
        left: 10px;
        right: 0;
        display: block;
        margin: 20px 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100px;
        height: 200px;
        line-height: 60px;
        text-align: center;
        background: #c3c3c3;
        font-weight: 700;
        border-radius: 7px;
        font-size: 2.5em;
    }

    .job-boards input[type=checkbox]{
        height: 24px;
        width: 24px;
        border-radius: 8px;
        border: 2px;
        border-color: #2d6987;
        border-style: solid;
        margin-right: 60px;
        background-color: #e3e3e3;
    }

    .job-boards input[type=button]{
        height: 64px;
        width: 64px;
        border-radius: 8px;
        border: 2px;
        border-color: #2d6987;
        border-style: solid;
        margin-right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #e3e3e3;
    }

    .job-boards input[type=button]:hover{
        height: 64px;
        width: 64px;
        border-radius: 8px;
        border: 2px ;
        border-color: #B3B3B3;
        border-style: solid;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fcfcfc;
    }

    .job-boards input[type=button]:active{
        height: 64px;
        width: 64px;
        border-radius: 8px;
        border: 2px ;
        border-color: #f8f8f8;
        border-style: solid;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fcfcfc;

    }

    #btn-promote-payment{
        position: relative;
        bottom: -160px;
        height: 50px;
        width: 140px;
        border-radius: 8px;
        border: 2px;
        border-color: #f8f8f8;
        border-style: solid;
        margin: 20px;
        margin-left: 20px;
        float: right;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #0000FF;
        font-weight: 500 ;
        color: #fcfcfc;
        font-size: 1.8em

    }
    #btn-promote-payment:hover{
        position: relative;
        bottom: -160px;
        height: 50px;
        width: 140px;
        border-radius: 8px;
        border: 2px;
        border-color: #f8f8f8;
        border-style: solid;
        margin: 20px;
        margin-left: 20px;
        float: right;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #0044cc;
        font-weight: 500 ;
        color: #fcfcfc;
        font-size:1.8em
    }
    #btn-promote-payment:active{
        position: relative;
        bottom: -160px;
        height: 50px;
        width: 140px;
        border-radius: 8px;
        border: 2px;
        border-color: #f8f8f8;
        border-style: solid;
        margin: 20px;
        margin-left: 20px;
        float: right;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #006dcc;
        font-weight: 500 ;
        color: #fcfcfc;
        font-size: 1.8em
    }

    .modal-body {

    }
    .modal-body span{
        font-size: 1.2em;
        font-weight: bold;
        font-family: "Roboto", cursive;
        color: #0000FF;
       /* display: inline-block;*/

    }
    .modal-body p{

        margin-top: 0px;
        font-size: 1.3em;
        font-weight: bold;
        font-family: "Roboto", cursive;
        /* display: inline-block;*/
        /* margin-left: 20px;*/

 }

 .modal-body hr{

     margin-top: 10px;
     margin-bottom: 10px;

 }

 .modal-body img{
     border-radius: 8px;
 }

</style>

<script>

    var jobLink='<%= JobLink %>';
    var address='<%= Address %>';
    var workCondition='<%= WorkCondition %>';
    var skills='<%= Skills %>';
    var logo='<%= Logo %>';
    var positionTitle='<%=PositionTitle%>';
    var description='<%=Description%>';
    var companyName='';

    $(document).ready( function() {

        $.ajax({
            url:'/api/team/settings',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                companyName=data.name;
            }
        });

   $(".job-boards").find(":input[type=button]").click(function() {


       var boardName=$(this).attr("title");

       var ml = $('#job-borad-preview-dialog');
       ml.find("#invitationSetLabel").text(boardName);
       ml.find("#job-address").text(address);
       ml.find("#job-title").text(positionTitle);
       ml.find("#company-name").text(companyName);
       ml.find("#job-description").text(description);
       //ml.find("#job-workPlaceTime").text(workCondition);
       //ml.find("#job-skills").text(skills);
       //ml.find("#company-logo").attr('src',logo);
       ml.modal();



       // ------------ Show-Hide job link ----------------
        if( boardName=="Indeed" || boardName=="Stack Overflow" )
       {
           ml.find("#job-link").text("");
           ml.find("#div-joblink").hide();
           ml.find("#job-description").append('<br>'+"Job Url : "+'<br>'+jobLink);
       }
       else
       {
           ml.find("#job-link").text(jobLink);
           ml.find("#div-joblink").show();
       }

        // ------------ Show-Hide work condition ----------------
       if(!workCondition && workCondition=='')
       {
           ml.find("#job-workPlaceTime").text("");
           ml.find("#div-workPlaceTime").hide();
       }
       else if( boardName=="Indeed" || boardName=="Stack Overflow" || boardName=="Dribble" || boardName=="Behance")
       {
           ml.find("#job-workPlaceTime").text("");
           ml.find("#div-workPlaceTime").hide();
           var place=  workCondition.split('&')[0].split('=')[1];
           var time=  workCondition.split('&')[1].split('=')[1];
           ml.find("#job-description").append('<br>'+"Work Place/Time : "+'<br>'+place+'/'+time);
       }
       else
       {
           var place=  workCondition.split('&')[0].split('=')[1];
           var time=  workCondition.split('&')[1].split('=')[1];
           ml.find("#job-workPlaceTime").text(place+'/'+time);
           ml.find("#div-workPlaceTime").show();
       }


       // ------------ Show-Hide skills ----------------
       if(!skills || skills=='')
       {
           ml.find("#job-skills").text("");
           ml.find("#div-skills").hide();
       }
       else if( boardName=="Indeed" || boardName=="GitHub" || boardName=="Dribble")
       {
           ml.find("#job-skills").text("");
           ml.find("#div-skills").hide();
           ml.find("#job-description").append('<br>'+"Requirements : "+'<br>'+skills);
       }
       else
       {
           ml.find("#job-skills").text(skills);
           ml.find("#div-skills").show();
       }


       // ------------ Show-Hide company logo ----------------
       if(logo=='http://placebox.es/231/40/9c9c9c/ffffff/Drop%20Your%20Logo%20Here/' ||
               boardName=="Behance" || boardName=="Dribble"  || boardName=="Indeed"   )
       {
            ml.find("#company-logo").attr('src','');
            ml.find("#div-logo").hide();
       }
       else
       {
           ml.find("#company-logo").attr('src',logo);
           ml.find("#div-logo").show();
       }

       // ------------ Show-Hide description ----------------
       if( boardName=="Dribble")
       {
           ml.find("#job-description").text("");
           ml.find("#div-description").hide();
       }
       else
       {
           ml.find("#div-description").show();
       }

    });
    });
</script>

<div class="job-title"> <%=PositionTitle%> </div>
<div class="social-network">
    <span>Social Networks </span>
<br>
    <input id="fb-promote" type="button"  value=" " style="background-image: url('/fb.png')">
    <input id="tw-promote" type="button"  value=" " style="background-image: url('/tw.png')">
    <input id="gp-promote" type="button"  value=" " style="background-image: url('/gp.png');margin-right: 0">

</div>
<br>
<div class="job-boards">
    <span>Job Boards </span>
    <br>
    <input id="git-promote"     title="GitHub" type="button" value="GitHub" >
    <input id="stackof-promote" title="Stack Overflow" type="button" value="Stack Overflow" >
    <input id="dribble-promote" title="Dribble" type="button" value="Dribble" >
    <input id="behance-promote" title="Behance" type="button" value="Behance">
    <input id="linkedin-promote" title="LinkedIn" type="button" value="LinkedIn" >
    <input id="indeed-promote" title="Indeed" type="button" value="Indeed" style="margin-right: 0">
    <br>
    <input id="ch-git-promote"     title="GitHub" type="checkbox" value=" ">
    <input id="ch-stackof-promote" title="Stack Overflow" type="checkbox" value=" " >
    <input id="ch-dribble-promote" title="Dribble" type="checkbox" value=" ">
    <input id="ch-behance-promote" title="Behance" type="checkbox" value=" " >
    <input id="ch-linkedin-promote" title="LinkedIn" type="checkbox" value=" " >
    <input id="ch-indeed-promote" title="Indeed" type="checkbox" value=" " style="margin-right: 0">

</div>


<input id="btn-promote-payment" type="button" value="Payment" >



<div id="job-borad-preview-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <span id="sp-company-name" >Company Name</span><p id="company-name"> -- </p>
            <div id="div-logo" >
                <hr>
                <span>Company Logo</span>
                <br>
                <img id="company-logo"  src="">
            </div>

            <hr>
            <span >Job Title</span> <p id="job-title"> -- </p>
            <div id="div-description" >
            <hr>
            <span >Job Description</span> <p id="job-description"> -- </p>
            </div>
            <hr>
            <span >Address</span> <p id="job-address"> -- </p>

            <div id="div-skills" >
                <hr>
                <span >Skills</span> <p id="job-skills"> -- </p>
            </div >

            <div id="div-workPlaceTime" >
                <hr>
                <span >Work Place/Time</span> <p id="job-workPlaceTime"> -- </p>
            </div >
            <div id="div-joblink" >
                <hr>
                <span >Job URL</span> <p id="job-link"> -- </p>
            </div >
        </div>
    </div>
    <div class="modal-footer">

        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>
