<% layout('layout') -%>

<html xmlns:fb="http://ogp.me/ns/fb#">

<style>
/*    #fb-promote a{
        text-indent:-9999px;
        display: inline-block;
        border:0; padding:0; margin:10px auto;
        width: 152px; height: 32px;
        background:url(http://www.hyperarts.com/facebook/static-fbml-bible/_img/share-btn.png) top left no-repeat;
        overflow: hidden;
        text-decoration:none !important;
    }*/
</style>

<style>
.job-title {
    position: relative;
    bottom: -120px;
    left: 10px;
    display: block;
    margin: 20px 20px;
    min-width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 8px;
    border: 4px 4px;
    border-color: #006dcc;
    border: solid;
    background: #b0b0b0;
    font-weight: 700;
    border-radius: 7px;
    font-size: 3em;
    font-weight: 700;
    color: #002a80;
}


.social-network {
    position: relative;
    bottom: -160px;
    left: 10px;
    right: 0;
    display: block;
    margin: 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    height: 130px;
    line-height: 60px;
    text-align: center;
    background: #c3c3c3;
    font-weight: 700;
    border-radius: 7px;
    font-size: 2.5em;
}

/*for hiding link on social netwowk images*/
.social-network a{
    overflow: hidden;
    text-decoration:none !important;
}

.social-network input{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #2d6987;
    border-style: solid;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.social-network input:hover{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #B3B3B3;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
}

.social-network input:active{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #f8f8f8;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;

}
.job-boards {
    position: relative;
    bottom: -120px;
    left: 10px;
    right: 0;
    display: block;
    margin: 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    /* height: 280px;*/
    line-height: 60px;
    text-align: center;
    background: #c3c3c3;
    font-weight: 700;
    border-radius: 7px;
    padding-bottom: 20px;
    font-size: 2.5em;
}

.job-boards label{
    position: relative;
    height: 35px;
    font-weight: 300;
    font-size: 0.6em;
    top: -7px;
    display: inline-block;
}
.job-boards input[type=number]{
    height: 35px;
    width: 100px;
}

.job-boards input[type=checkbox]{
    height: 24px;
    width: 24px;
    border-radius: 8px;
    border: 2px;
    border-color: #2d6987;
    border-style: solid;
    margin-right: 60px;
    background-color: #e3e3e3;
}

.job-boards input[type=button]{
    height: 64px;
    width: 64px;
    border-radius: 8px;
    border: 2px;
    border-color: #2d6987;
    border-style: solid;
    /*margin-right: 20px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.job-boards input[type=button]:hover{
    height: 64px;
    width: 64px;
    border-radius: 8px;
    border: 2px ;
    border-color: #B3B3B3;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
}

.job-boards input[type=button]:active{
    height: 64px;
    width: 64px;
    border-radius: 8px;
    border: 2px ;
    border-color: #f8f8f8;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;

}

#btn-promote-payment{
    position: relative;
    bottom: -160px;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    border: 2px;
    border-color: #f8f8f8;
    border-style: solid;
    margin: 20px;
    margin-left: 20px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #006dcc;
    font-weight: 500 ;
    color: #fcfcfc;
    font-size: 1.8em

}
#btn-promote-payment:hover{
    position: relative;
    bottom: -160px;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    border: 2px;
    border-color: #f8f8f8;
    border-style: solid;
    margin: 20px;
    margin-left: 20px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0044cc;
    font-weight: 500 ;
    color: #fcfcfc;
    font-size:1.8em
}
#btn-promote-payment:active{
    position: relative;
    bottom: -160px;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    border: 2px;
    border-color: #f8f8f8;
    border-style: solid;
    margin: 20px;
    margin-left: 20px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #006dcc;
    font-weight: 500 ;
    color: #fcfcfc;
    font-size: 1.8em
}

.modal-body {

}
.modal-body span{
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", cursive;
    color: #0000FF;
    /* display: inline-block;*/

}
.modal-body p{

    margin-top: 0px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Roboto", cursive;
    /* display: inline-block;*/
    /* margin-left: 20px;*/

}

.modal-body hr{

    margin-top: 10px;
    margin-bottom: 10px;

}

.modal-body img{
    border-radius: 8px;
}

#div-total-payment{


    position: relative;
    bottom: -160px;
    left: 10px;
    right: 0;
    float: left;
    display: block;
    margin: 20px;
    margin-left: 20px;
    min-width: 200px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #c3c3c3;
    font-weight: 700;
    border-radius: 7px;
    font-size: 2.5em;

}

</style>

<!-- Facebook -->
<script>

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<!-- Twitter -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script>
    /* !function(d,s,id){
     var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
     if(!d.getElementById(id)){
     js=d.createElement(s);
     js.id=id;
     js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
     }}(document, 'script', 'twitter-wjs');*/
</script>


<!-- Google+ -->
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
    /*(function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/platform.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();*/
</script>

<script>

var JobBoardPrice ={ "github":450,"stack overflow":350,"dribbble":325,"behance":199,"indeed":1,"linkedin":195};
var flyerID='<%= FlyerID %>';
var jobLink='<%= JobLink %>';
var address='<%= Address %>';
var workCondition='<%= WorkCondition %>';
var skills='<%= Skills %>';
var logo='<%= Logo %>';
var positionTitle='<%=PositionTitle%>';
var description='<%=Description%>';
var companyName='';
var teamID='';

$(document).ready( function() {

    $("#ppanel").click(function(e)
    {
        window.location = "/dashboard/promotepanel"
    })

    $.ajax({
        url:'/api/team/settings',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            companyName=data.name;
            teamID=data._id;
        }
    })
            .fail(function(data) {
                alert(data);
            });

    $("#inputtext-indeed-payment").change(function(e)
            {
                var value= parseInt ($("#inputtext-indeed-payment").val());

                if(value<50 || value>1000)
                    $("#inputtext-indeed-payment").css("color",'red');
                else
                    $("#inputtext-indeed-payment").css("color",'black');

                calculateTotalPayment();
                e.stopPropagation();
            }
    );

    $("#ln-promote").attr("href","http://www.linkedin.com/shareArticle?mini=true&url="
            +jobLink.replace(' ','%20')+
            "&title="+positionTitle.replace(' ','%20')+
            "&summary="+description.replace(' ','%20')+"&source=");

    //$("#tw-promote").attr("data-url",jobLink);
    $("#tw-promote").attr("href", "https://twitter.com/intent/tweet?text=&url="+jobLink.replace(' ','%20')+"&related=episod");


    //$("#gp-promote").attr("data-href",jobLink);
    $("#gp-promote").attr("href","https://plus.google.com/share?url="+jobLink.replace(' ','%20'));


    $("#fb-promote").attr("href",jobLink.replace(' ','%20'));


    $(".job-boards").find(":input[type=button]").click(function() {

        var boardName=$(this).attr("title");

        var ml = $('#job-borad-preview-dialog');
        ml.find("#invitationSetLabel").text(boardName);
        ml.find("#job-address").text(address);
        ml.find("#job-title").text(positionTitle);
        ml.find("#company-name").text(companyName);
        ml.find("#job-description").text(description);
        //ml.find("#job-workPlaceTime").text(workCondition);
        //ml.find("#job-skills").text(skills);
        //ml.find("#company-logo").attr('src',logo);
        ml.modal();


        // ------------ Show-Hide job link ----------------
        if( boardName=="Indeed" || boardName=="Stack Overflow" )
        {
            ml.find("#job-link").text("");
            ml.find("#div-joblink").hide();
            ml.find("#job-description").append('<br>'+"Job Url : "+'<br>'+jobLink);
        }
        else
        {
            ml.find("#job-link").text(jobLink);
            ml.find("#div-joblink").show();
        }

        // ------------ Show-Hide work condition ----------------
        if(!workCondition && workCondition=='')
        {
            ml.find("#job-workPlaceTime").text("");
            ml.find("#div-workPlaceTime").hide();
        }
        else if( boardName=="Indeed" || boardName=="Stack Overflow" || boardName=="Dribbble" || boardName=="Behance")
        {
            ml.find("#job-workPlaceTime").text("");
            ml.find("#div-workPlaceTime").hide();
            var place=  workCondition.split('&')[0].split('=')[1];
            var time=  workCondition.split('&')[1].split('=')[1];
            ml.find("#job-description").append('<br>'+"Work Place/Time : "+'<br>'+place+'/'+time);
        }
        else
        {
            var place=  workCondition.split('&')[0].split('=')[1];
            var time=  workCondition.split('&')[1].split('=')[1];
            ml.find("#job-workPlaceTime").text(place+'/'+time);
            ml.find("#div-workPlaceTime").show();
        }
        // ------------ Show-Hide skills ----------------
        if(!skills || skills=='')
        {
            ml.find("#job-skills").text("");
            ml.find("#div-skills").hide();
        }
        else if( boardName=="Indeed" || boardName=="GitHub" || boardName=="Dribbble")
        {
            ml.find("#job-skills").text("");
            ml.find("#div-skills").hide();
            ml.find("#job-description").append('<br>'+"Requirements : "+'<br>'+skills);
        }
        else
        {
            ml.find("#job-skills").text(skills);
            ml.find("#div-skills").show();
        }


        // ------------ Show-Hide company logo ----------------
        if(logo=='http://placebox.es/231/40/9c9c9c/ffffff/Drop%20Your%20Logo%20Here/' ||
                boardName=="Behance" || boardName=="Dribbble"  || boardName=="Indeed"   )
        {
            ml.find("#company-logo").attr('src','');
            ml.find("#div-logo").hide();
        }
        else
        {
            ml.find("#company-logo").attr('src',logo);
            ml.find("#div-logo").show();
        }

        // ------------ Show-Hide description ----------------
        if( boardName=="Dribbble")
        {
            ml.find("#job-description").text("");
            ml.find("#div-description").hide();
        }
        else
        {
            ml.find("#div-description").show();
        }

    });

    $(".job-boards").find(":input[type=checkbox]").click(function() {
        calculateTotalPayment();
    });

    $("#btn-promote-payment").click(function() {

        var ml = $('#payment-action-dialog');
        ml.find("#error-msg").text("");
        getSelectedJobBoardInfo(function(info)
        {
            var rst=info.PaymentInfo;
            $.ajax({
                url:'/flyer/submitpromote',
                type: 'POST',
                dataType: 'json',
                data :
                {
                    flyerID:flyerID,
                    teamID:teamID,
                    jobBoardInfo:rst
                },
                success: function(data) {

                    var ml = $('#payment-action-dialog');
                    ml.find('.container-fluid').empty();
                    for(var i=0;i<rst.SelectedJobBoards.length;i++)
                    {
                        ml.find('.container-fluid').append($('<span>').text(rst.SelectedJobBoards[i].Name));
                        ml.find('.container-fluid').append($('<p>').text("$ "+rst.SelectedJobBoards[i].Price  ));
                        ml.find('.container-fluid').append( $('<hr>'));
                    }
                    ml.find('.container-fluid').append($('<span>').text("Total"));
                    ml.find('.container-fluid').append($('<p>').text("$ "+rst.TotalPayment ));

                    ml.modal();
                    ml.find('.modal-footer').empty();
                    ml.find('.modal-footer').append($('<button>')
                            .addClass("btn btn-primary")
                            .attr('data-dismiss','modal')
                            .attr('aria-hidden','true').text("Cancel"));
                    ml.find('.modal-footer').append($('<button>')
                            .addClass("btn btn-primary")
                            .attr('data-dismiss','modal')
                            .attr('aria-hidden','true').text("Confirm").click(function()
                            {
                                // $(this).attr("disabled","disabled");
                                 $("#btn-promote-payment").attr("disabled", "disabled");
                                $.ajax({
                                    url:'/flyer/confirmpromote',
                                    type: 'POST',

                                    dataType: 'json',
                                    data :
                                    {
                                        flyerID:flyerID,
                                        teamID:teamID,
                                        jobBoardInfo:info
                                    },
                                    success: function(data) {
                                        window.location='/pay?amount='+rst.TotalPayment+"&jbp=1";
                                    }
                                })

                            }));
                }
            })
                    .fail(function(data) {

                        var ml = $('#payment-action-dialog');
                        ml.find('.container-fluid').empty();
                        ml.find('.container-fluid').append($('<span>').text("Message"));
                        ml.find('.container-fluid').append($('<p>').text(data.responseText));
                        ml.find('.modal-footer').empty();
                        ml.find('.modal-footer').append($('<button>')
                                .addClass("btn btn-primary")
                                .attr('data-dismiss','modal')
                                .attr('aria-hidden','true').text("Close"));
                        ml.modal();
                    });

        }); //end getSelectedJobBoardInfo

    });

    var getPaymentInfo=function(callback)
    {
        var chbxs=$(".job-boards").find(":input[type=checkbox]");
        var selectedInfo=new Object();
        selectedInfo.TotalPayment=0.0;
        selectedInfo.SelectedJobBoards=new Array();
        $.each(chbxs, function(i)
        {
            if($(chbxs[i]).prop('checked'))
            {
                var jbInfo=new Object();
                jbInfo.Price=JobBoardPrice[$(chbxs[i]).attr("title").toLowerCase()];
                jbInfo.Name=$(chbxs[i]).attr("title");
                selectedInfo.SelectedJobBoards.push(jbInfo);
                selectedInfo.TotalPayment+=  JobBoardPrice[$(chbxs[i]).attr("title").toLowerCase()];
            }
        });
        callback(selectedInfo);
    }

    var calculateTotalPayment=function(callbak)
    {
        var chbxs=$(".job-boards").find(":input[type=checkbox]");

        $.each(chbxs, function(i)
        {

            if($(chbxs[i]).attr("title").toLowerCase()=="indeed")
            {
                var value= parseInt ($("#inputtext-indeed-payment").val());
                if(value<50 )
                    value=50;
                else if(value>1000 )
                    value=1000;
                else if(isNaN(value) )
                    value=50;
                JobBoardPrice[$(chbxs[i]).attr("title").toLowerCase()]=parseFloat(value);
            }
            else
                $(chbxs[i]).val( JobBoardPrice[$(chbxs[i]).attr("title").toLowerCase()]);
        });
        var sumPayment=0.0;
        $.each(chbxs, function(i)
        {
            if($(chbxs[i]).prop('checked'))
            {
                sumPayment+=  JobBoardPrice[$(chbxs[i]).attr("title").toLowerCase()];
            }
        });
        $("#div-total-payment").text("$ " +sumPayment.toFixed(2));
    }

    var getSelectedJobBoardInfo =function(callback)
    {
        getPaymentInfo(function(rst)
        {
            var info=new Object();
            info.PaymentInfo=rst
            info.JobBoardListPreiview=new Array();
            for(var i=0;i<rst.SelectedJobBoards.length;i++)
            {
                var item=new Object();
                var boardName=rst.SelectedJobBoards[i].Name;

                item.boardName=boardName;
                item.address=address;
                item.positionTitle=positionTitle;
                item.companyName=companyName;
                item.description=description;

                // ------------ Saving job link ----------------
                item.jobLink="[NA]";
                if( !(jobLink=="undefined" || !jobLink || jobLink==''))
                {
                    if( boardName=="Indeed" || boardName=="Stack Overflow" )
                    {
                        item.description+="&Job Url : "+jobLink;
                    }
                    else
                    {
                        item.jobLink=jobLink;
                    }
                }

                // ------------ Saving work condition ----------------
                item.workCondition="[NA]";
                if( !(workCondition=="undefined" ||  !workCondition || workCondition==''))
                {
                    var place=  workCondition.split('&')[0].split('=')[1];
                    var time=  workCondition.split('&')[1].split('=')[1];
                    if( boardName=="Indeed" || boardName=="Stack Overflow" || boardName=="Dribbble" || boardName=="Behance")
                    {
                        item.description+="&Work Place/Time : "+place+'/'+time;
                    }
                    else
                    {
                        item.workCondition=place+'/'+time;
                    }
                }
                // ------------ Saving skills ----------------
                item.skills="[NA]";
                if( !(skills=="undefined" || !skills || skills==''))
                {
                    if( boardName=="Indeed" || boardName=="GitHub" || boardName=="Dribbble")
                    {
                        item.description+="&Requirements : "+skills;
                    }
                    else
                    {
                        item.skills=skills;
                    }
                }
                // ------------ Saving company logo ----------------
                item.logo="[NA]";
                if(    !( logo=='http://placebox.es/231/40/9c9c9c/ffffff/Drop%20Your%20Logo%20Here/'
                        ||  boardName=="Behance" || boardName=="Dribbble"  || boardName=="Indeed"   ))
                {
                    item.logo=logo
                }

                // ------------ Saving description ----------------

                if( boardName=="Dribbble")
                {
                    item.description="[NA]";
                }
                info.JobBoardListPreiview.push(item);
            }
            callback(info)
        });
    };

});
</script>

<div class="job-title"> <%=PositionTitle%> </div>

<!-------------------------------------Social Networks -------------------------------------------------->

<div class="social-network">
    <span>Social Networks </span>

    <br>

    <!-- <a id="tw-promote" href="https://twitter.com/share"   class="twitter-share-button" data-url="" data-text=" " data-count="none">Tweet</a>-->
    <a id="tw-promote" href="https://twitter.com/intent/tweet?text=Check%20this%20out&url=https%3A%2F%2Fdev.twitter.com%2Fdiscussions%2F2441&related=episod"><img src='/tw.png' title="Tweet" alt="Tweet" /></a>

    <a id="ln-promote" href="" rel="nofollow"
       onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img src="/ln.png" title="Share on LinkedIn" alt="Share on LinkedIn"  />
    </a>

    <a id="gp-promote"  href=""
       onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img  src='/gp.png' title="Share on Google+" alt="Share on Google+"/>
    </a>


    <!-- Place this tag where you want the share button to render. -->
    <!--<div id="gp-promote" class="g-plus" data-action="share" data-annotation="none" data-href=""></div>-->

    <!--<div  id="share">

        <fb:share-button class="meta" >
            <meta name="title" content="HyperArts"/>
            <meta name="description" content="Read the Static FBML Bible and Rejoice!"/>
            <link rel="image_src" href="http://www.hyperarts.com/facebook/static-fbml-bible/_img/share-popup_80x80.gif"/>
            <link rel="target_url" href="http://www.facebook.com/StaticFBMLBible"/>
        </fb:share-button>
    </div>-->

    <!-- <div id="fb-promote" class="fb-share-button" data-href="" data-type="button"></div> -->

    <fb:share-button  id="fb-promote" href="" type="button" style="bottom=16px" ></fb:share-button>
</div>
<br>

<!-------------------------------------Job Boards ------------------------------------------------------>

<div class="job-boards" >
    <span>Job Boards </span>
    <br>


    <div id="flyer-list" style="background-color: #f8f8f8" class="container-fluid">


        <div class="row-fluid positionsHeaderRow" style="background-color: #94a0b4">
            <div class="span3 colPreview" >Preview</div>
            <div class="span1 colSelect">Select</div>
            <div class="span2 colOptions">Options</div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="stackof-promote" title="Stack Overflow" type="button" value=""  style="background-image: url('/stackoverflow-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-stackof-promote" title="Stack Overflow" type="checkbox" value="Stack Overflow" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="git-promote"     title="GitHub" type="button" value="" style="background-image: url('/githup-64.png')"  >
            </div>
            <div class="span1 colSelect">
                <input id="ch-git-promote"     title="GitHub" type="checkbox" value="GitHub" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="dribbble-promote" title="Dribbble" type="button" value=""  style="background-image: url('/dribbble-64.png')">
            </div>
            <div class="span1 colSelect">
                <input id="ch-dribbble-promote" title="Dribbble" type="checkbox" value="Dribbble" >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="behance-promote" title="Behance" type="button" value=""  style="background-image: url('/behance-64.png')">
            </div>
            <div class="span1 colSelect">
                <input id="ch-behance-promote" title="Behance" type="checkbox" value="Behance">
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid" style="background-color: palegoldenrod">
            <div class="span3 colPreview">
                <input id="linkedin-promote" title="LinkedIn" type="button" value=""  style="background-image: url('/linkedin-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-linkedin-promote" title="LinkedIn" type="checkbox"  value="LinkedIn"  >
            </div>
            <div class="span4 colOptions"> - </div>
        </div>

        <div class="row-fluid">
            <div class="span3 colPreview">
                <input id="indeed-promote"   title="Indeed" type="button" value="" style="background-image: url('/indeed-64.png')" >
            </div>
            <div class="span1 colSelect">
                <input id="ch-indeed-promote" title="Indeed" type="checkbox"  value="Indeed">
            </div>
            <div class="span4 colOptions">
                <label  >Indeed payment ($): </label>
                <input id="inputtext-indeed-payment" type="number"  value="50" >
                <label > (Min:$50 - Max:$1000)</label>
            </div>
        </div>

    </div>
</div>


<input id="btn-promote-payment" type="button"  value="Payment" >

<div id="div-total-payment" >
    $ 0.00
</div>
<input id="ppanel"  style="position: relative; bottom: -120px;left: -200px" value="go to panel" title="Go to panel" type="button"  >


<!-------------------------------------Dialogs ------------------------------------------------------>

<div id="payment-action-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header-label">Payment</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

        </div>
    </div>
    <div class="modal-footer">
        <!--    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="btn-confirm" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Confirm</button>-->
    </div>
</div>


<div id="job-borad-preview-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <span id="sp-company-name" >Company Name</span><p id="company-name"> -- </p>
            <div id="div-logo" >
                <hr>
                <span>Company Logo</span>
                <br>
                <img id="company-logo"  src="">
            </div>

            <hr>
            <span >Job Title</span> <p id="job-title"> -- </p>
            <div id="div-description" >
                <hr>
                <span >Job Description</span> <p id="job-description"> -- </p>
            </div>
            <hr>
            <span >Address</span> <p id="job-address"> -- </p>

            <div id="div-skills" >
                <hr>
                <span >Skills</span> <p id="job-skills"> -- </p>
            </div >

            <div id="div-workPlaceTime" >
                <hr>
                <span >Work Place/Time</span> <p id="job-workPlaceTime"> -- </p>
            </div >
            <div id="div-joblink" >
                <hr>
                <span >Job URL</span> <p id="job-link"> -- </p>
            </div >
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


