<% layout('layout') %>

<html xmlns:fb="http://ogp.me/ns/fb#">
<link rel="stylesheet" href="/css/promote.css"/>

<!-- Facebook -->
<script>

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<!-- Twitter -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script>
    /* !function(d,s,id){
     var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
     if(!d.getElementById(id)){
     js=d.createElement(s);
     js.id=id;
     js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
     }}(document, 'script', 'twitter-wjs');*/
</script>


<!-- Google+ -->
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
    /*(function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/platform.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();*/
</script>

<script>
    var JobBoardPrice = undefined;
    var LinkedinPrice = undefined;
    var flyerID = '<%= FlyerID %>';
    var jobLink = '<%= JobLink %>';
    var address = '<%= Address %>';
    var workCondition = '<%= WorkCondition %>';
    var skills = '<%= Skills %>';
    var logo = '<%= Logo %>';
    var positionTitle = '<%=PositionTitle%>';
    var description = '<%=Description%>';
    var companyName = '';
    var teamID = '';
</script>

<script src="/script/promote.js"></script>

<div class="container-fluid promote-container">

<div class="row-fluid">
    <div class="span12">
        <a href="/dashboard#jobsp">< Back to Dashboard</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="job-title">
            Promote <a><%= PositionTitle %></a>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="social-network">
            <div style="line-height: 1em;text-align: left">1- Share it</div>

            <!-- <a id="tw-promote" href="https://twitter.com/share"   class="twitter-share-button" data-url="" data-text=" " data-count="none">Tweet</a>-->
            <a id="tw-promote"
               href="https://twitter.com/intent/tweet?text=Check%20this%20out&url=https%3A%2F%2Fdev.twitter.com%2Fdiscussions%2F2441&related=episod"><img
                        src='/tw.png' title="Tweet" alt="Tweet"/></a>

            <a id="ln-promote" href="" rel="nofollow"
               onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="/ln.png" title="Share on LinkedIn" alt="Share on LinkedIn"/>
            </a>

            <a id="gp-promote" href=""
               onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src='/gp.png' title="Share on Google+" alt="Share on Google+"/>
            </a>

            <a id="fb-promote" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src='/fb.png' title="Share on Facebook" alt="Share on Facebook"/>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="job-boards">

<div id="flyer-list" class="container-fluid">

<div class="row-fluid">
    <div class="span10">
        <div style="line-height: 1em;;text-align: left">2- Post to job boards</div>
    </div>
</div>


<div class="row-fluid positionsHeaderRow">
    <div class="span3 colPreview">Preview</div>
    <div class="span1 colSelect">Select</div>
    <div class="span6 colOptions">Options</div>
    <div class="span2"></div>
</div>

<div class="row-fluid" style="background-color: #f4f4f4;">
<div class="span3 colPreview">
    <input id="linkedin-promote" title="LinkedIn" type="button" value=""
           style="background-image: url('/linkedin-64.png')">
</div>
<div class="span1 colSelect">
    <input id="ch-linkedin-promote" title="LinkedIn" type="checkbox" value="LinkedIn">
</div>

<div class="span6 colOptions-linkedin">

<div style="text-align: left;">
<label>Country</label>
<select style="margin-right: 10px;width:200px;" name="countryCode" size="1" id="field-country" class="country">
<option value="us">United States</option>
<option value="af">Afghanistan</option>
<option value="ax">Aland Islands</option>
<option value="al">Albania</option>
<option value="dz">Algeria</option>
<option value="as">American Samoa</option>
<option value="ad">Andorra</option>
<option value="ao">Angola</option>
<option value="ai">Anguilla</option>
<option value="aq">Antarctica</option>
<option value="ag">Antigua and Barbuda</option>
<option value="ar">Argentina</option>
<option value="am">Armenia</option>
<option value="aw">Aruba</option>
<option value="au">Australia</option>
<option value="at">Austria</option>
<option value="az">Azerbaijan</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrain</option>
<option value="bd">Bangladesh</option>
<option value="bb">Barbados</option>
<option value="by">Belarus</option>
<option value="be">Belgium</option>
<option value="bz">Belize</option>
<option value="bj">Benin</option>
<option value="bm">Bermuda</option>
<option value="bt">Bhutan</option>
<option value="bo">Bolivia</option>
<option value="ba">Bosnia and Herzegovina</option>
<option value="bw">Botswana</option>
<option value="br">Brazil</option>
<option value="io">British Indian Ocean Territory</option>
<option value="bn">Brunei Darussalam</option>
<option value="bg">Bulgaria</option>
<option value="bf">Burkina Faso</option>
<option value="bi">Burundi</option>
<option value="kh">Cambodia</option>
<option value="cm">Cameroon</option>
<option value="ca">Canada</option>
<option value="cv">Cape Verde</option>
<option value="cb">Caribbean Nations</option>
<option value="ky">Cayman Islands</option>
<option value="cf">Central African Republic</option>
<option value="td">Chad</option>
<option value="cl">Chile</option>
<option value="cn">China</option>
<option value="cx">Christmas Island</option>
<option value="cc">Cocos (Keeling) Islands</option>
<option value="co">Colombia</option>
<option value="km">Comoros</option>
<option value="cg">Congo</option>
<option value="ck">Cook Islands</option>
<option value="cr">Costa Rica</option>
<option value="ci">Cote D'Ivoire (Ivory Coast)</option>
<option value="hr">Croatia</option>
<option value="cu">Cuba</option>
<option value="cy">Cyprus</option>
<option value="cz">Czech Republic</option>
<option value="cd">Democratic Republic of the Congo</option>
<option value="dk">Denmark</option>
<option value="dj">Djibouti</option>
<option value="dm">Dominica</option>
<option value="do">Dominican Republic</option>
<option value="tp">East Timor</option>
<option value="ec">Ecuador</option>
<option value="eg">Egypt</option>
<option value="sv">El Salvador</option>
<option value="gq">Equatorial Guinea</option>
<option value="er">Eritrea</option>
<option value="ee">Estonia</option>
<option value="et">Ethiopia</option>
<option value="fk">Falkland Islands (Malvinas)</option>
<option value="fo">Faroe Islands</option>
<option value="fm">Federated States of Micronesia</option>
<option value="fj">Fiji</option>
<option value="fi">Finland</option>
<option value="fr">France</option>
<option value="gf">French Guiana</option>
<option value="pf">French Polynesia</option>
<option value="tf">French Southern Territories</option>
<option value="ga">Gabon</option>
<option value="gm">Gambia</option>
<option value="ge">Georgia</option>
<option value="de">Germany</option>
<option value="gh">Ghana</option>
<option value="gi">Gibraltar</option>
<option value="gr">Greece</option>
<option value="gl">Greenland</option>
<option value="gd">Grenada</option>
<option value="gp">Guadeloupe</option>
<option value="gu">Guam</option>
<option value="gt">Guatemala</option>
<option value="gg">Guernsey</option>
<option value="gn">Guinea</option>
<option value="gw">Guinea-Bissau</option>
<option value="gy">Guyana</option>
<option value="ht">Haiti</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong</option>
<option value="hu">Hungary</option>
<option value="is">Iceland</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="ir" selected="selected">Iran</option>
<option value="iq">Iraq</option>
<option value="ie">Ireland</option>
<option value="im">Isle of Man</option>
<option value="il">Israel</option>
<option value="it">Italy</option>
<option value="jm">Jamaica</option>
<option value="jp">Japan</option>
<option value="je">Jersey</option>
<option value="jo">Jordan</option>
<option value="kz">Kazakhstan</option>
<option value="ke">Kenya</option>
<option value="ki">Kiribati</option>
<option value="kr">Korea</option>
<option value="kp">Korea (North)</option>
<option value="ko">Kosovo</option>
<option value="kw">Kuwait</option>
<option value="kg">Kyrgyzstan</option>
<option value="la">Laos</option>
<option value="lv">Latvia</option>
<option value="lb">Lebanon</option>
<option value="ls">Lesotho</option>
<option value="lr">Liberia</option>
<option value="ly">Libya</option>
<option value="li">Liechtenstein</option>
<option value="lt">Lithuania</option>
<option value="lu">Luxembourg</option>
<option value="mo">Macao</option>
<option value="mk">Macedonia</option>
<option value="mg">Madagascar</option>
<option value="mw">Malawi</option>
<option value="my">Malaysia</option>
<option value="mv">Maldives</option>
<option value="ml">Mali</option>
<option value="mt">Malta</option>
<option value="mh">Marshall Islands</option>
<option value="mq">Martinique</option>
<option value="mr">Mauritania</option>
<option value="mu">Mauritius</option>
<option value="yt">Mayotte</option>
<option value="mx">Mexico</option>
<option value="md">Moldova</option>
<option value="mc">Monaco</option>
<option value="mn">Mongolia</option>
<option value="me">Montenegro</option>
<option value="ms">Montserrat</option>
<option value="ma">Morocco</option>
<option value="mz">Mozambique</option>
<option value="mm">Myanmar</option>
<option value="na">Namibia</option>
<option value="nr">Nauru</option>
<option value="np">Nepal</option>
<option value="nl">Netherlands</option>
<option value="an">Netherlands Antilles</option>
<option value="nc">New Caledonia</option>
<option value="nz">New Zealand</option>
<option value="ni">Nicaragua</option>
<option value="ne">Niger</option>
<option value="ng">Nigeria</option>
<option value="nu">Niue</option>
<option value="nf">Norfolk Island</option>
<option value="mp">Northern Mariana Islands</option>
<option value="no">Norway</option>
<option value="om">Sultanate of Oman</option>
<option value="pk">Pakistan</option>
<option value="pw">Palau</option>
<option value="ps">Palestinian Territory</option>
<option value="pa">Panama</option>
<option value="pg">Papua New Guinea</option>
<option value="py">Paraguay</option>
<option value="pe">Peru</option>
<option value="ph">Philippines</option>
<option value="pn">Pitcairn</option>
<option value="pl">Poland</option>
<option value="pt">Portugal</option>
<option value="pr">Puerto Rico</option>
<option value="qa">Qatar</option>
<option value="re">Reunion</option>
<option value="ro">Romania</option>
<option value="ru">Russian Federation</option>
<option value="rw">Rwanda</option>
<option value="sh">Saint Helena</option>
<option value="kn">Saint Kitts and Nevis</option>
<option value="lc">Saint Lucia</option>
<option value="pm">Saint Pierre and Miquelon</option>
<option value="vc">Saint Vincent and the Grenadines</option>
<option value="ws">Samoa</option>
<option value="sm">San Marino</option>
<option value="st">Sao Tome and Principe</option>
<option value="sa">Saudi Arabia</option>
<option value="sn">Senegal</option>
<option value="rs">Serbia</option>
<option value="sc">Seychelles</option>
<option value="sl">Sierra Leone</option>
<option value="sg">Singapore</option>
<option value="sk">Slovak Republic</option>
<option value="si">Slovenia</option>
<option value="sb">Solomon Islands</option>
<option value="so">Somalia</option>
<option value="za">South Africa</option>
<option value="ss">South Sudan</option>
<option value="es">Spain</option>
<option value="lk">Sri Lanka</option>
<option value="sd">Sudan</option>
<option value="sr">Suriname</option>
<option value="sj">Svalbard and Jan Mayen</option>
<option value="sz">Swaziland</option>
<option value="se">Sweden</option>
<option value="ch">Switzerland</option>
<option value="sy">Syria</option>
<option value="tw">Taiwan</option>
<option value="tj">Tajikistan</option>
<option value="tz">Tanzania</option>
<option value="th">Thailand</option>
<option value="tl">Timor-Leste</option>
<option value="tg">Togo</option>
<option value="tk">Tokelau</option>
<option value="to">Tonga</option>
<option value="tt">Trinidad and Tobago</option>
<option value="tn">Tunisia</option>
<option value="tr">Turkey</option>
<option value="tm">Turkmenistan</option>
<option value="tc">Turks and Caicos Islands</option>
<option value="tv">Tuvalu</option>
<option value="ug">Uganda</option>
<option value="ua">Ukraine</option>
<option value="ae">United Arab Emirates</option>
<option value="gb">United Kingdom</option>
<option value="uy">Uruguay</option>
<option value="uz">Uzbekistan</option>
<option value="vu">Vanuatu</option>
<option value="va">Vatican City State (Holy See)</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
<option value="vg">Virgin Islands (British)</option>
<option value="vi">Virgin Islands (U.S.)</option>
<option value="wf">Wallis and Futuna</option>
<option value="eh">Western Sahara</option>
<option value="ye">Yemen</option>
<option value="zm">Zambia</option>
<option value="zw">Zimbabwe</option>
<option value="oo">Other</option>
</select>
<label id="ld-price">$0.0</label>
<label id="ld-area"></label>
</div>

<div id="div-postalcode" style="line-height:20px">
    <label> Postal Code </label>
    <a href="http://www.geonames.org/postalcode-search.html?q=&country=us" id="find-postal-code"
       style="margin-left: 5px" target="_blank">Find Postal Code</a>
</div>

</div>

<div class="span2">
    <label class="period">30 Days</label>
</div>

</div>

<div class="row-fluid">
    <div class="span3 colPreview">
        <input id="indeed-promote" title="Indeed" type="button" value=""
               style="background-image: url('/indeed-64.png')">
    </div>
    <div class="span1 colSelect">
        <input id="ch-indeed-promote" title="Indeed" type="checkbox" value="Indeed">
    </div>
    <div class="span6 colOptions"  style="text-align: left;">
        <label>Budget($): </label>
        <input id="inputtext-indeed-payment" type="number" value="50">
        <label> (Min:$50 - Max:$1000)</label>
    </div>
</div>

<div class="row-fluid" style="background-color: #f4f4f4;">
    <div class="span3 colPreview">
        <input id="stackof-promote" title="Stack Overflow" type="button" value=""
               style="background-image: url('/stackoverflow-64.png')">
    </div>
    <div class="span1 colSelect">
        <input id="ch-stackof-promote" title="Stack Overflow" type="checkbox" value="Stack Overflow">
    </div>
    <div class="span6 colOptions">
        $350
    </div>
    <div class="span2">
        <label class="period">30 Days</label>
    </div>
</div>

<div class="row-fluid">
    <div class="span3 colPreview">
        <input id="git-promote" title="GitHub" type="button" value="" style="background-image: url('/githup-64.png')">
    </div>
    <div class="span1 colSelect">
        <input id="ch-git-promote" title="GitHub" type="checkbox" value="GitHub">
    </div>
    <div class="span6 colOptions">
        $450
    </div>
    <div class="span2">
        <label class="period">30 Days</label>
    </div>
</div>

<div class="row-fluid" style="background-color: #f4f4f4;">
    <div class="span3 colPreview">
        <input id="dribbble-promote" title="Dribbble" type="button" value=""
               style="background-image: url('/dribbble-64.png')">
    </div>
    <div class="span1 colSelect">
        <input id="ch-dribbble-promote" title="Dribbble" type="checkbox" value="Dribbble">
    </div>
    <div class="span6 colOptions">
        $325
    </div>
    <div class="span2">
        <label class="period">30 Days</label>
    </div>
</div>

<div class="row-fluid">
    <div class="span3 colPreview">
        <input id="behance-promote" title="Behance" type="button" value=""
               style="background-image: url('/behance-64.png')">
    </div>
    <div class="span1 colSelect">
        <input id="ch-behance-promote" title="Behance" type="checkbox" value="Behance">
    </div>
    <div class="span6 colOptions">
        $199
    </div>
    <div class="span2">
        <label class="period">30 Days</label>
    </div>
</div>

<div class="row-fluid" style="border-top: 2px solid #c9c9c9">
    <div class="span11">
        <div class="overall-cost">
            <span>Total: </span><span id="div-total-payment">$ 0.00</span>
        </div>
    </div>
    <div class="span1">
        <input id="btn-promote-payment" class="btn btn-success" type="button" value="Confirm">
    </div>
</div>

</div>

</div>
</div>

</div>
</div>

<!-------------------------------------Dialogs ------------------------------------------------------>

<div id="alert-payment-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog"
     aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header-label">Error</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <p style="font-size: 1.3em"> You must be select at least one job board. </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


<div id="payment-action-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog"
     aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="header-label">Payment</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

        </div>
    </div>
    <div class="modal-footer">
        <!--    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="btn-confirm" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Confirm</button>-->
    </div>
</div>


<div id="job-borad-preview-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog"
     aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <span id="sp-company-name">Company Name</span>

            <p id="company-name"> -- </p>

            <div id="div-logo">
                <hr>
                <span>Company Logo</span>
                <br>
                <img id="company-logo" src="">
            </div>

            <hr>
            <span>Job Title</span>

            <p id="job-title"> -- </p>

            <div id="div-description">
                <hr>
                <span>Job Description</span>

                <p id="job-description"> -- </p>
            </div>
            <hr>
            <span>Address</span>

            <p id="job-address"> -- </p>

            <div id="div-skills">
                <hr>
                <span>Skills</span>

                <p id="job-skills"> -- </p>
            </div>

            <div id="div-workPlaceTime">
                <hr>
                <span>Work Place/Time</span>

                <p id="job-workPlaceTime"> -- </p>
            </div>
            <div id="div-joblink">
                <hr>
                <span>Job URL</span>

                <p id="job-link"> -- </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>



